extends ./layout/layout_main.pug

block css
  style.
    .logged-in {
      display: block !important;
    }
    .logged-out {
      display: none;
    }
  //- style


block content

  section.userprofile.request-list.simple(ng-app="circlebuysList" ng-controller="circlebuysListCtrl as circlebuys")
    .container
      .row
        .col-md-12
          .alert.alert-success.hide
            | You have successfully accepted Jake Seri to join your&nbsp;
            strong Brokenwood - Graveyard Vineyard Shiraz circlebuy 
            |.
          //- alert
        //- col-md-12
      //- row
      h4 Your circlebuys
      .card
        .table-responsive
          table.table
            thead
              tr
                th Product name
                th Owner
                th Qty
                th Qty left
                th My order
                th Date created
                th Time left
                th Status
                th 
              //- tr
            //- thead
            tbody
              tr(ng-repeat="cb in circlebuys.sharedOrders")
                td
                  input(type="hidden", value="cb.shared_order_id")
                  | {{cb.product_name}}
                //- th
                td
                  | {{cb.owner_first_name}}&nbsp;{{cb.owner_last_name}}
                //- th
                td
                  | {{cb.shared_order_size}}&nbsp;cases
                //- th
                td
                  | {{cb.remaining}}
                //- th
                td {{cb.quantity_ordered}}
                td
                  | {{cb.created_at | date : 'M/d/yy h:mm a' : '+0'}}
                //- th
                td
                  | {{ circlebuys.timeLeft(cb.created_at) }}
                //- th
                td
                  | {{cb.shared_order_status}}
                //- th
                td
                  .dropdown
                    button.btn.btn-link.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                      i.fa.fa-ellipsis-v
                    //- button
                    ul.dropdown-menu.pull-right
                      li
                        a(href='#modal_coming_soon', data-toggle='modal') remove
                      //- li
                    //- ul
                  //- dropdown
                //- th
              //- tr
              tr.hide
                td
                  | Corona Extra - Imported Beers
                //- th
                td
                  | Haley Page
                //- th
                td
                  | 20 cases
                //- th
                td
                  | 4
                //- th
                td 12
                td
                  | 07/23/2016 8:50 PM
                //- th
                td
                  | 35hrs 16mins
                //- th
                td
                  | Active
                //- th
                td
                  .dropdown
                    button.btn.btn-link.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                      i.fa.fa-ellipsis-v
                    //- button
                    ul.dropdown-menu.pull-right
                      li
                        a(href='#modal_coming_soon', data-toggle='modal') remove
                      //- li
                    //- ul
                  //- dropdown
                //- th
              //- tr
            //- tbody
          //- table
        //- table-responsive
      //- card
      
    //- container
  //- section


block scripts
  // External Script goes here...
  script.
    $(function () {
      
    });

    $(document).ready(function(){

    });

    var app = angular.module('circlebuysList', ['ngSanitize']);

    teaservice.init(app);
    
    app.controller('circlebuysListCtrl', function($scope, teaService){
        var self = this;

        self.hello = "Hello World!";
        self.sharedOrders = [];

        teaService.getSharedOrdersByUser({
          "memberId" : 61
        }).then(function(sharedOrders){
          self.sharedOrders = sharedOrders.sharedOrders;
          console.log ("sharedOrders : ", sharedOrders);
        });

        self.timeLeft = function(created_date){
         
          var end_date = new Date(created_date);
          end_date.setDate(end_date.getDate()+3); // + 3 to change to configurable

          var date_now = new Date('2017-01-24T07:35:35.000Z')
          var delta = (end_date - date_now) / 1000;
          
          var hours = Math.floor(delta / 3600) >= 0 ? Math.floor(delta / 3600) : 0;
          delta -= hours * 3600;

          var minutes = Math.floor(delta / 60) % 60 >= 0 ? Math.floor(delta / 60) % 60 : 0;
          delta -= minutes * 60;

          return hours + "hrs " +  minutes + "mins";
        };


    }); //- controller
    

  //- script.
