extends ./layout/layout_main.pug

block css
  style.
    .logged-in {
      display: block !important;
    }
    .logged-out {
      display: none;
    }
  //- style


block content

  section.userprofile.request-list.simple
    .container
      .row
        .col-md-12
          br
          .alert.alert-success
            | You have successfully accepted Andrew to join your&nbsp;
            strong Brokenwood - Graveyard Vineyard Shiraz Multibuy
            |.
          //- alert
        //- col-md-12
      //- row
      h4 Multibuys
      .card
        .table-responsive
          table.table
            thead
              tr
                th Product Name
                th Owner
                th Quantity
                th Time left
                th Sold
                th Date Created
                th Status
                th Action
              //- tr
            //- thead
            tbody
              tr
                td
                  | Brokenwood - Vineyard
                //- th
                td
                  | Adrian Mendez
                //- th
                td
                  | 10 cases
                  br
                  | ($119.94 per case of 6)
                //- th
                td
                  | 3d 2hrs
                //- th
                td
                  | 10
                //- th
                td
                  | 07/20/2016 7:00 PM
                //- th
                td
                  | Completed
                //- th
                td
                  a(href='') remove
                //- th
              //- tr
              tr
                td
                  | Corona Extra - Imported Beers
                //- th
                td
                  | Haley Page
                //- th
                td
                  | 20 cases
                  br
                  | ($39.99 per case of 24)
                //- th
                td
                  | 5d 2hrs
                //- th
                td
                  | 4
                //- th
                td
                  | 07/20/2016 7:00 PM
                //- th
                td
                  | Active
                //- th
                td
                  a(href='') remove
                //- th
              //- tr
            //- tbody
          //- table
        //- table-responsive
      //- card
      br
      h4 Multibuy Requests
      .card
        .table-responsive
          table.table
            thead
              tr
                th Requester
                th Product Name
                th Owner
                th Quantity
                th Date Requested
                th Status
                th Action
              //- tr
            //- thead
            tbody
              tr
                td
                  | Andrew Steer
                //- th
                td
                  | Brokenwood - Graveyard Vineyard
                //- th
                td
                  | Adrian Mendez
                //- td
                td
                  | 3 cases
                //- th
                td
                  | 07/20/2016 7:00 PM
                //- th
                td
                  | Awaiting Confirmation
                //- th
                td
                  a(href='') accept
                  | &nbsp;|&nbsp;
                  a(href='') reject
                //- th
              //- tr
              tr
                td
                  | Alvin Manalo
                //- th
                td
                  | Brokenwood - Graveyard Vineyard
                //- th
                td
                  | Adrian Mendez
                //- td
                td
                  | 3 cases
                //- th
                td
                  | 07/20/2016 7:00 PM
                //- th
                td
                  | Confirmed
                //- th
                td
                  a(href='') accept
                  | &nbsp;|&nbsp;
                  a(href='') reject
                //- th
              //- tr
              tr
                td
                  | Carlos Mejia
                //- th
                td
                  | Brokenwood - Graveyard Vineyard
                //- th
                td
                  | Adrian Mendez
                //- td
                td
                  | 2 cases
                //- th
                td
                  | 07/20/2016 7:00 PM
                //- th
                td
                  | Rejected
                //- th
                td
                  a(href='') accept
                  | &nbsp;|&nbsp;
                  a(href='') reject
                //- th
              //- tr
              tr
                td
                  | Jake Seri
                //- th
                td
                  | Corona Extra - Imported Beers
                //- th
                td
                  | Haley Page
                //- td
                td
                  | 2 cases
                //- th
                td
                  | 07/20/2016 7:00 PM
                //- th
                td
                  | Accepted
                //- th
                td
                  a(href='') accept
                  | &nbsp;|&nbsp;
                  a(href='') reject
                //- th
              //- tr
              tr
                td
                  | Frank Jose
                //- th
                td
                  | Corona Extra - Imported Beers
                //- th
                td
                  | Haley Page
                //- td
                td
                  | 2 cases
                //- th
                td
                  | 07/20/2016 7:00 PM
                //- th
                td
                  | Rejected
                //- th
                td
                  a(href='') accept
                  | &nbsp;|&nbsp;
                  a(href='') reject
                //- th
              //- tr
            //- tbody
          //- table
        //- table-responsive
      //- card
      br
      .text-right
        a.btn.btn-success(href='') Next
      //- text-right
    //- container
  //- section


block scripts
  // External Script goes here...
  script.
    $(function () {

    });
  //- script.
