extends ./layout/layout_main.pug

block css
  style.
    .logged-in {
      display: block !important;
    }
    .logged-out {
      display: none;
    }
  //- style


block content

  section.userprofile.simple(ng-app="myApp" ng-controller="myCtrl", min=0, max=100)
    .container
      .row
        .col-md-12
          h3.title Review for 2015 Cricket Pitch White
        //- col-md-12
      //- row
      .card
        p Rate the product from 0 - 100
        .form-group
          div(ng-model='rating', rn-stepper='')
        //- form-group
        hr
        p
          strong Your Review (optional)
        //- p
        ol
          li Describe the product and specific details of your experience.
          li Be respectful.
          li Focus on the facts.
        //- ol
        .row
          .col-md-6
            .form-group
              label Add a heading for you review
              input.form-control(type='text', id='reviewHeading')
            //- form-group
          //- col-md-6
        //- row
        .form-group
          label Your review
          textarea.form-control(rows='5', id='review')
        //- form-group
        .checkbox
          label
            input(type='checkbox', id='recommend-checkbox')
            | &nbsp;I would recommend this drink to a friend
          //- label
        //- checkbox
        .text-right
          a.btn.btn-success(data-toggle='modal', id='submit-product-rating') Submit
        //- text-right
      //- card
      input#review-element-id(type='hidden', value='')

    //- container
  //- section

block scripts
  // External Script goes here...
  script.
    $(document).ready(function(){
      var app = angular.module('myApp', ['ngSanitize']);
      chwritereview.init();
    });

    var app = angular.module('myApp', ['ngSanitize'])

    .controller('myCtrl', function($scope) {
      $scope.rating = 99;     
    })

    .directive('rnStepper', function() {
        return {
            restrict: 'AE',
            scope: {
                value: '=ngModel'
            },
            template: '<button ng-disabled="isOverMin()" ng-click="decrement()">-</button>' +
                      '<div id="rate">{{ value }}</div>' +
                      //'<input maxlength="3" size="4" type="number" id="rate" value="{{value}}"></input>' +
                      '<button ng-disabled="isOverMax()" ng-click="increment()">+</button>',
            link: function(scope, iElement, iAttrs) {
                scope.increment = function() {
                    scope.value++;
                }
                scope.decrement = function() {
                    scope.value--;
                }
                scope.isOverMin = function() {
                   var disabled = false;
                    if(scope.value <= 0) {
                      disabled = true;
                    }
                    return disabled;
                }
                scope.isOverMax = function() {
                    var disabled = false;
                    if(scope.value >= 100) {
                      disabled = true;
                    }   
                    return disabled;
                }
            }
        };
    });

    /*
    *  Set up the login part at the top of the page.
    */
    authservice.init({
      host: 'localhost',
      port: 9090,
      tenant: 'nodeclient',
      pretend: true,
      onLoggedIn: function() {
        console.log('logged in');
      },
      onLoggedOut: function() {
        console.log('logged out');
      }
    });
    console.log('Current user:', authservice.getCurrentUser());
  //- script.
//- block scripts
