extends ./layout/layout_main.pug

block css
  style.

  //- style


block content


  section.productdetails(ng-app="myApp" ng-controller="myCtrl" ng-cloak)
    .container
      p.bread
        a(href='#modal_coming_soon', data-toggle='modal') Red
        | &nbsp;/&nbsp;
        a(href='#modal_coming_soon', data-toggle='modal') {{variant0.manufacturer}}
        | &nbsp;/&nbsp;
        a(href='#modal_coming_soon', data-toggle='modal')
          strong {{variant0.name}}
        //- a
      //- p
      //- bread
      .row
        .col-md-5.text-center
          h1
            span {{variant.manufacturer}}
            br
            strong
              small {{variant.name}}
            //- strong
            br
            p
            .row.pdetail-info-text
              .col-md-6.text-left
                small
                  | RRP {{tea_calcs.rrp}}&nbsp;
                  span.pb / bottle
                //- small
              //- col-md-6
              .col-md-6.text-right
                small
                  span.avl {{variant.quantity}} available / 319 sold
                //- small
              //- col-md-6
            //- row
          //- h1
          hr
          .stage.infos
            a.button.inline.v8.absolute._left.see-all-drinks.thin-line(href="shop.html") see all drinks
            .stats
              .rate-counter
                .ring
                  .count 94
                    span points
                //- ring
              //- rate-counter
            //- stats
            //img(src="//www.brokenwood.com.au/assets/images/products/pictures/GraveyardVineyardShiraz11.jpg", alt="")
            img(id="product_image" Zsrc="{{ui_variant_image}}", alt="")
          //- stage
          br
          p
        //- col-md-5
        .col-md-7.product-detail-wrap
          .infos
            .row
              .col-md-12
                .inventory
                  .pricing
                    .prod-details.deals
                      .label-qty.cols
                        strong Qty
                        br
                      //- qty
                      .label-bottle.cols
                        strong Bottle
                        br
                      //- label-bottle
                      .label-pack.cols
                        strong {{tea_calcs.packSize}} Pack
                        br
                        //- span
                      //- price
                      .label-savings.cols
                        span
                          strong.green Save
                        br
                        small.green (per pack)
                      //- savings
                      .more-actions.cols
                    //- prod-details

                    hr
                    div(ng-repeat="price in tea_calcs.priceTable")
                      .prod-details.deals
                        .label-qty.cols
                          span(style="{{price.style1}}") {{price.label}}
                        //- qty
                        .label-bottle.cols
                          span(style="{{price.style2}}") {{price.unitPrice}}
                        //- label-bottle
                        .label-pack.cols
                          span(style="{{price.style2}}") {{price.packPrice}}
                          //- span
                        //- price
                        .label-savings.cols
                          strong(ng-if="price.showBuy")
                            big.lead {{price.save}}
                          span(ng-if="!price.showBuy" style="{{price.style1}}") {{price.save}}
                        //- savings
                        .more-actions.cols
                          a.button.inline.v8.buynow.thin-line(ng-if="price.showBuy" href="#", target="_blank")
                            span.num buy now
                          //- a
                          a.button.inline.v7.thin-line(ng-if="price.showSharedBuy" href='circlebuy-join.html') join a circlebuy
                          a.button.inline.v8.thin-line(ng-if="price.showSharedBuy" href='circlebuy-start.html?product={{variant0.productVariantId}}') create a circlebuy *
                        //- more-actions
                      //- prod-details
                    //- div

                    br
                    p.text-center.relative.font12 * creator bonus: extra 50% off first case
                      a.green.absolute._right(href="circlebuys.html") learn about circlebuying
                    //- p
                  //- pricing
                //- inventory
              //- col-md-12
            //- row
            hr
            .row
              .col-md-4
                //- p.lead.text-center.totalcbcount Duration: 72hrs
              //- col-md-4
              .col-md-4
                p.lead.text-center.totalcbcount {{sharedOrders_num}} circlebuys to join
              //- col-md-4
              .col-md-4
                //- .text-right
                //-   a.button.inline.v7(href="#") public
                //-   | &nbsp;
                //-   a.button.inline.v7(href="#") friends
                //- //- text-right
              //- col-md-4
            //- row


            //
            // Circle Buys short list, initially displayed
            //
            .row

              div(ng-repeat="sharedOrder in sharedOrders_shortList").col-md-6.col-sm-6.text-center.super-customized
                circlebuy-widget

            //- row
            br


            // Circle Buys long list, initially hidden
            .expand.text-center
              a(href='#initiallyHiddenCircleBuys', data-toggle='collapse')
                | more&nbsp;
                i.fa.fa-caret-down
            //- expand
            .row(id="initiallyHiddenCircleBuys" class="collapse")
              div(ng-repeat="sharedOrder in sharedOrders_longList").col-md-6.col-sm-6.text-center.super-customized
                br
                circlebuy-widget
            //- row


            // Product Details / Tasting Notes / Winery Information
            hr
            .about
              .tabs
                ul.nav.nav-tabs(role='tablist')
                  li.active(role='presentation')
                    a(href='#pDetails', role='tab', data-toggle='tab') Product Details
                  //- li
                  li(role='presentation')
                    a(href='#pTastingNotes', role='tab', data-toggle='tab') Tasting Notes
                  //- li
                  li(role='presentation')
                    a(href='#pWineryInfo', role='tab', data-toggle='tab') Winery Information
                  //- li
                //- ul
                .tab-content.card
                  #pDetails.tab-pane.active(role='tabpanel')
                    p.comment
                      strong Brokenwood Graveyard Vineyard Shiraz&nbsp;
                      | is a ripe and generous shiraz with lifted cherry and mint aromas nicely balanced with sweet chocolate notes on the nose and a soft rich palate with savoury cedary flavours and fine grained tannins on the finish.
                    //- p
                    .row
                      .col-xs-4.col-md-4
                        p
                          strong.green variety
                          br
                          | Shiraz
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4
                        p
                          strong.green region
                          br
                          | Hunter Valley
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4
                        p
                          strong.green alcohol
                          br
                          | 14.5%
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4
                        p
                          strong.green vintage
                          br
                          | 2010
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4
                        p
                          strong.green shipping
                          br
                          | Free
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4(data-expand-items)
                        p
                          strong.green returns
                          br
                          | 60 days
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4(data-expand-items)
                        p
                          strong.green case size
                          br
                          | 12 bottles
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4(data-expand-items)
                        p
                          strong.green standard drinks
                          br
                          | 8
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4(data-expand-items)
                        p
                          strong.green food matching
                          br
                          | Osso Bucco, Lamb
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4
                        p.share
                          strong.green share
                            br
                            a(href="#", target="_blank")
                              i.fa.fa-twitter
                            //- a
                            a(href="#", target="_blank")
                              i.fa.fa-facebook
                            //- a
                            a(href="#", target="_blank")
                              i.fa.fa-google-plus
                            //- a
                            a(href="#", target="_blank")
                              i.fa.fa-envelope
                            //- a
                        //- p.share
                      //- col-md-4
                    //- row
                    .expand.text-center
                      a(href='#', data-expand)
                        span.text more
                        span.text(style='display: none') less
                        | &nbsp;
                        i.fa.fa-caret-down
                      //- a
                    //- expand
                  //- tab-pane
                  #pTastingNotes.tab-pane(role='tabpanel')

                  //- tab-pane
                  #pWineryInfo.tab-pane(role='tabpanel')

                  //- tab-pane
                //- tab-content
              //- tabs
            //- about




            // Reviews Section
            .reviews
              .row
                .col-md-7
                  p.lead Customer Reviews &amp; Ratings
                  a.popover_rating(href="#", data-toggle="popover", data-placement="bottom", data-title="Summary") 242 Ratings
                    span.ratings
                      table
                        tr
                          td(width="100")
                            small 90 - 100
                          //- td
                          td(width="270")
                            .progress
                              .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
                                span.sr-only 100% Complete (success)
                              //- progress-bar
                            //- progress
                          //- td
                          td.text-center(width="50")
                            small 231
                        //- tr
                        tr
                          td
                            small 80 - 89
                          //- td
                          td
                            .progress
                              .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100', style='width: 10%')
                                span.sr-only 10% Complete (success)
                              //- progress-bar
                            //- progress
                          //- td
                          td.text-center
                            small 10
                        //- tr
                        tr
                          td
                            small 70 - 79
                          //- td
                          td
                            .progress
                              .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='1', aria-valuemin='0', aria-valuemax='100', style='width: 1%')
                                span.sr-only 1% Complete (success)
                              //- progress-bar
                            //- progress
                          //- td
                          td.text-center
                            small 1
                        //- tr
                        tr
                          td
                            small 60 - 69
                          //- td
                          td
                            .progress
                              .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%')
                                span.sr-only 0% Complete (success)
                              //- progress-bar
                            //- progress
                          //- td
                          td.text-center
                            small 0
                        //- tr
                        tr
                          td
                            small 60 below
                          //- td
                          td
                            .progress
                              .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%')
                                span.sr-only 0% Complete (success)
                              //- progress-bar
                            //- progress
                          //- td
                          td.text-center
                            small 0
                        //- tr
                      //- table
                    //- ratings
                  //- popover_rating
                  br
                  | 88 Reviews
                //- col-md-6
                .col-md-5
                  .btn-review-wrap
                    a.button.inline.v7(href="product-ratings.html") Write a review
                    a.button.inline.v7(href="product-ratings.html") Rate product
                  //- btn-review-wrap
                //- col-md-6
              //- row
              .review
                .list_groups
                  .content
                    .counter
                      .ring
                        //- img(src="assets/images/ring_silver.png", alt="")
                        .count 96
                      //- ring
                    //- counter
                    .input-group
                      span.input-group-addon
                        .thumb
                          .img
                            img(src='assets/images/users/user_1.jpg', alt='')
                      span.form-control
                        strong Quality Shiraz
                        br
                        small
                          | by
                          a(href="profile.html") Andrew Steer
                          | | May 26, 2016
                        //- small
                        p.comment I really 'dig' this Shiraz. It's definitely 'one out of the box'. You can 'lay this one to rest' for a while or drink it right now!
                      //- span
                    //- input-group
                  //- content
                  .footer
                    .row
                      .col-md-12
                        .right-to-center.basecolor
                          small
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') like
                            //- strong
                            | &nbsp;&nbsp;&nbsp;
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') comment
                            //- strong
                          //- small
                        //- right-to-center
                      //- col-md-12
                    //- row
                  //- footer
                //- list_groups
                .list_groups
                  .content
                    .counter
                      .ring
                        //- img(src="assets/images/ring_silver.png", alt="")
                        .count 91
                      //- ring
                    //- counter
                    .input-group
                      span.input-group-addon
                        .thumb
                          .img
                            img(src='assets/images/users/user_2.jpg', alt='')
                      span.form-control
                        strong A beautiful wine
                        br
                        small
                          | by
                          a(href='#modal_coming_soon', data-toggle='modal') Carter Smith
                          | | May 26, 2016
                        //- small
                        p.comment A beautiful Hunter Valley Red and very pleasing to the palate. Great value for the price.
                      //- span
                    //- input-group
                  //- content
                  .footer
                    .row
                      .col-md-12
                        .right-to-center.basecolor
                          small
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') like
                            //- strong
                            | &nbsp;&nbsp;&nbsp;
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') comment
                            //- strong
                          //- small
                        //- right-to-center
                      //- col-md-12
                    //- row
                  //- footer
                //- list_groups
                .list_groups
                  .content
                    .counter
                      .ring
                        //- img(src="assets/images/ring_silver.png", alt="")
                        .count 82
                      //- ring
                    //- counter
                    .input-group
                      span.input-group-addon
                        .thumb
                          .img
                            img(src='assets/images/users/user_5.jpg', alt='')
                      span.form-control
                        strong Very disappointing
                        br
                        small
                          | by
                          a(href='#modal_coming_soon', data-toggle='modal') Mary James
                          | | May 26, 2016
                        //- small
                        p.comment Not up to the quality of previous vintages. Still a not a bad drop but not nearly as good as the 2012.
                      //- span
                    //- input-group
                  //- content
                  .footer
                    .row
                      .col-md-12
                        .right-to-center.basecolor
                          small
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') like
                            //- strong
                            | &nbsp;&nbsp;&nbsp;
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') comment
                            //- strong
                          //- small
                        //- right-to-center
                      //- col-md-12
                    //- row
                    .comment
                      .list_groups
                        .content
                          .input-group
                            span.input-group-addon
                              .thumb
                                .img
                                  img(src='assets/images/users/user_7.jpg', alt='')
                            span.form-control
                              strong Comment: Very disappointing
                              br
                              small
                                | by
                                a(href='#modal_coming_soon', data-toggle='modal') Susie O'Brian
                                | | May 26, 2016
                              //- small
                              p.comment I can't agree Mary. Like you I also enjoyed the previous vintages but I also loved this one. I've recommended this to several friends who have been very impressed.
                            //- span
                          //- input-group
                        //- content
                      //- list_groups
                    //- comment
                  //- footer
                  .footer
                    .row
                      .col-md-12
                        .right-to-center.basecolor
                          small
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') like
                            //- strong
                            | &nbsp;&nbsp;&nbsp;
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') comment
                            //- strong
                          //- small
                        //- right-to-center
                      //- col-md-12
                    //- row
                  //- footer
                //- list_groups
                br
                .expand.text-center
                  a(href='#', data-toggle='collapse')
                    | more&nbsp;
                    i.fa.fa-caret-down
                //- expand
                hr




                // Discussions
                p.lead Discussions
                .list_groups.discussions
                  .content
                    .commentbox
                      .input-group
                        span.input-group-addon
                          .thumb
                            .img
                              img(src='assets/images/anonymous.png', alt='')
                            //- img
                          //- thumb
                        //- span
                        span.form-control
                          .composer
                            .head
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-pencil
                                | Status
                              //- a
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-picture-o
                                | Photo/Video
                              //- a
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-calendar-o
                                | Event
                              //- a
                            //- head
                            .content
                              textarea.form-control(rows='4')
                            //- content
                            .controls
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-camera
                              //- a
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-user-plus
                              //- a
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-smile-o
                              //- a
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-map-marker
                              //- a
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-clock-o
                              //- a
                              a.post(href='#')
                                i.fa.fa-send-o
                                | Post
                              //- a
                            //- controls
                          //- composer
                        //- span
                      //- input-group
                    //- commentbox

                    .input-group.discussion-row
                      span.input-group-addon
                        .thumb
                          .img
                            img(src='assets/images/users/user_1.jpg', alt='')
                      span.form-control
                        small
                          | by
                          a(href="profile") Andrew Steer
                          | | May 25, 2016
                        //- small
                        p.comment Hi! has anybody tried this with waygu steak with asparagus saute potatoes?
                      //- span
                      .generic-controls
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-heart
                          | Like
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-comment
                          | Comment
                      //- generic-controls
                    //- input-group
                    .input-group.discussion-row
                      span.input-group-addon
                        .thumb
                          .img
                            img(src='assets/images/users/user_2.jpg', alt='')
                      span.form-control
                        small
                          | by
                          a(href='#modal_coming_soon', data-toggle='modal') Carter Smith
                          | | May 26, 2016
                        //- small
                        p.comment I had it with char grill ribeye fillet medium rare and i finished the whole bottle :)
                      //- span
                      .generic-controls
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-heart
                          | Like
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-comment
                          | Comment
                      //- generic-controls
                    //- input-group
                  //- content
                //- list_groups
              //- review
            //- reviews
          //- infos
        //- col-md-7
      //- row
    //- container
  //- section

  script(src="assets/scripts/tea-angular.js")

block scripts
  // External Script goes here...
  script.
    $(document).ready(function(){

      //- $(window).on("load resize", function() {
      //-   if ( $(this).width() > 991 ) {
      //-     $('section.productdetails').outerHeight(function(){
      //-       var top = $('nav.navbar').outerHeight();
      //-       var bottom = $('footer').outerHeight(true);
      //-       var screenHeight = $(window.top).height();
      //-
      //-       return (screenHeight - (top + bottom));
      //-     });
      //-     $('.product-detail-wrap, .productdetails .stage').height(function() {
      //-       return $('section.productdetails').height() - $('.bread').outerHeight();
      //-     });
      //-   } else {
      //-     $('section.productdetails, .product-detail-wrap, .productdetails .stage').height("");
      //-   }
      //- });
    });

    $(function () {
      $('.popover_rating[data-toggle="popover"]').popover({
        html: true,
        content : function() {
          return '<span class="ratings">' + $(this).parent().find("span.ratings").html() + '</span>';
        },
        title: function(){
      		return jQuery(this).data('title') + '<span class="close">&times;</span>';
      	}
      }).on('shown.bs.popover', function(e) {
      	var popover = jQuery(this);
      	$(this).parent().find('.popover span.close').on('click', function(e) {
      		popover.popover('hide');
      	});
      }).click(function(e) {
        e.preventDefault();
      });
    });


    /************************************************************
     *
     *    Angular code.
     */
    var app = angular.module('myApp', ['ngSanitize']);

    teaAngular.init(app);

    // Add the controller for this page
    app.controller('myCtrl', function($scope, teaService) {

      // This code gets the "product" parameter from the
      // URL so we can use it as productVariantId.
      var productVariantId = NaN;
      window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str, key, value) {
        if (key === 'product') {
          productVariantId = parseInt(value);
        }
      });
      console.log('Displaying the page for productVariantId=' + productVariantId);

      // During development only
      var DEFAULT_PRODUCT_VARIANT_ID = 6180;
      if (isNaN(productVariantId)) {
        productVariantId = DEFAULT_PRODUCT_VARIANT_ID;
      }


      // Start updating countdownTimers, even though
      // we won't have any yet.
      teaService.startCountdownTimers();



      // Look after the product_variant
      teaService.getProductAndSetAngularVariables({
        productVariantId: productVariantId,
        needPricing: true,
        needImages: true
      }, $scope, teaService, function() {

        // Set the product image
        $('#product_image').attr('src', $scope.tea_variant0_image0);
      });



      // Display the circle buys
      teaService.getSharedOrdersAndSetAngularVariables({
        productVariantId: productVariantId
      }, $scope, teaService);

    });

  //- script.
//- block scripts
