extends ./layout/layout_main.pug

block css
  style.

  //- style


block content


  section.productdetails(ng-app="myApp" ng-controller="myCtrl" ng-cloak)
    .container
      p.bread
        a(href='#modal_coming_soon', data-toggle='modal') Red
        | &nbsp;/&nbsp;
        a(href='#modal_coming_soon', data-toggle='modal') Brokenwood
        | &nbsp;/&nbsp;
        a(href='#modal_coming_soon', data-toggle='modal')
          strong Graveyard Vineyard Shiraz - 6 pack
        //- a
      //- p
      //- bread
      .row
        .col-md-5.text-center
          br
          .stage.infos
            .stats
              .rate-counter
                .ring
                  .count
                    | 94
                    span drinker's
                      br
                      | points
              a(href='') rate | review
            img(src='//www.brokenwood.com.au/assets/images/products/pictures/GraveyardVineyardShiraz11.jpg', alt='')
          br
          p
        .col-md-7.product-detail-wrap
          h1.text-center.relative
            span Brokenwood
            a.button.inline.v8.joincirclebuy.thin-line.see-all-drinks.absolute._right(href='shop.html')
              | go to shop
            br
            strong
              small Graveyard Vineyard Shiraz  - 6 pack
            br
            .pdetail-info-text
              small
                | RRP $29.99 
                span.pb / bottle
              | &nbsp;&nbsp;&nbsp;
              small
                span.avl 500+ available / 319 sold
              | &nbsp;&nbsp;&nbsp;
              small
                span.avl.green Shipping - Free
          .infos
            .inventory
              h4.green
                strong buy now
              .table-responsive
                table(width='100%')
                  tr
                    td.circlebuy-pricebox.green
                      | 1 - 4
                      small &nbsp;cases
                      br
                      big
                        small $25.99
                          small &nbsp;x 6
                        br
                        strong $155.94
                    td.circlebuy-pricebox
                      | 5 - 9
                      small &nbsp;cases
                      br
                      big
                        small $21.99
                          small &nbsp;x 6
                        br
                        strong $131.94
                    td.circlebuy-pricebox
                      | 10 - 19
                      small &nbsp;cases
                      br
                      big
                        small $19.99
                          small &nbsp;x 6
                        br
                        strong $119.94
                    td.circlebuy-pricebox
                      | 20+
                      small &nbsp;cases
                      br
                      big
                        small $18.99
                          small &nbsp;x 6
                        br
                        strong $113.94
                  //- tr
                //- table
              br
              .forms
                center
                  table
                    tr
                      td(width='70') quantity:
                      td.text-center(width='100')
                        .input-group.input-group-sm.input-group-xs
                          span.input-group-btn
                            button.btn.btn-default(type='button') -
                          input.form-control.text-center(type='text', placeholder='1')
                          span.input-group-btn
                            button.btn.btn-default(type='button') +
                      td.text-right(width='100')
                        a.button.inline.v7.joincirclebuy.thin-line(href='') buy now
            hr.gray
            .inventory
              h4.green.relative
                strong circlebuy
                a.green.lnk-learn-about-circlebuying.absolute._right(href='circlebuys.html') learn more
              .table-responsive
                table(width='100%')
                  tr
                    td.circlebuy-pricebox
                      | 5
                      small &nbsp;cases
                      br
                      big
                        small $21.99
                          small &nbsp;x 6
                        br
                        strong $131.94
                      br
                      small 10 circlebuys
                      .circlebuy-button-wrap
                        a.button.inline.v7.joincirclebuy.thin-line(href='') view
                        a.button.inline.v7.joincirclebuy.thin-line(href='') create
                      //- circlebuy-button-wrap
                    td.circlebuy-pricebox
                      | 10
                      small &nbsp;cases
                      br
                      big
                        small $19.99
                          small &nbsp;x 6
                        br
                        strong $119.94
                      br
                      small 61 circlebuys
                      .circlebuy-button-wrap
                        a.button.inline.v7.joincirclebuy.thin-line(href='') view
                        a.button.inline.v7.joincirclebuy.thin-line(href='') create
                      //- circlebuy-button-wrap
                    td.circlebuy-pricebox
                      | 20
                      small &nbsp;cases
                      br
                      big
                        small $18.99
                          small &nbsp;x 6
                        br
                        strong $113.94
                      br
                      small 6 circlebuys
                      .circlebuy-button-wrap
                        a.button.inline.v7.joincirclebuy.thin-line(href='') view
                        a.button.inline.v7.joincirclebuy.thin-line(href='') create
                      //- circlebuy-button-wrap
                  //- tr
                //- table
              //- ...
            br
            p.text-center.font12
              | * creator bonus: extra 50% off 1st case

            .row
              .col-md-4
              .col-md-4
                p.lead.text-center.totalcbcount 77 circlebuys to join
              .col-md-4
            .row
              .col-md-6.col-sm-6.text-center.super-customized
                .card_rounded
                  a(href='#modal_preview_detail_brokenwood', data-toggle='modal')
                    big
                      span Brokenwood
                        br
                        small.el.drink-type Graveyard Vineyard Shiraz 2010 - 6 pack
                          br
                          .color.black
                            small.pack-price 6 pack - $119.94
                            small.bottle-price $19.99
                              small &nbsp;/bottle
                      //- span
                  //- a
                  hr
                  span
                    big
                      small Adrian's
                      span.green
                        big 10
                        small &nbsp;case&nbsp;
                      small circlebuy
                  .shortsummary
                    .sold
                      p.lead
                        span.green 7
                        br
                      p.cases-sold sold
                    //- sold
                    .left
                      p.lead
                        span.green 3
                        br
                      p to go
                    //- left
                  //- shortsummary
                  p
                  .avatar
                    .img
                      div(class=['ring _70p'])
                      img(src='assets/images/circles/circles_8.png', alt='')
                    //- img
                    .countdown
                      //- span.time 32:12
                      br
                      p
                        big
                          i.fa.fa-clock-o
                          span &nbsp;04:56.12
                      //- p
                      //- span
                    //- countdown
                  //- avatar
                  br
                  p
                    a.button.inline.v7.joincirclebuy.thin-line(href="circlebuy-start.html") join
                    | &nbsp;
                    a.button.inline.v8.joincirclebuy.thin-line(href="") watch
                  //- p
                //- card_rounded
              //- col-md-3

              .col-md-6.col-sm-6.text-center.super-customized
                .card_rounded
                  a(href='#modal_preview_detail_brokenwood', data-toggle='modal')
                    big
                      span Brokenwood
                        br
                        small.el.drink-type Graveyard Vineyard Shiraz 2010 - 6 pack
                          br
                          .color.black
                            small.pack-price 6 pack - $119.94
                            small.bottle-price $19.99
                              small &nbsp;/bottle
                      //- span
                  //- a
                  hr
                  span
                    big
                      small Charmaine's
                      span.green
                        big 5
                        small &nbsp;case&nbsp;
                      small circlebuy
                  .shortsummary
                    .sold
                      p.lead
                        span.green 3
                        br
                      p.cases-sold sold
                    //- sold
                    .left
                      p.lead
                        span.green 2
                        br
                      p to go
                    //- left
                  //- shortsummary
                  p
                  .avatar
                    .img
                      div(class=['ring _40p'])
                      img(src='assets/images/circles/circles_1.png', alt='')
                    //- img
                    .countdown
                      //- span.time 32:12
                      br
                      p
                        big
                          i.fa.fa-clock-o
                          span &nbsp;04:56.12
                      //- p
                      //- span
                    //- countdown
                  //- avatar
                  br
                  p
                    a.button.inline.v7.joincirclebuy.thin-line(href="circlebuy-start.html") join
                    | &nbsp;
                    a.button.inline.v8.joincirclebuy.thin-line(href="") watch
                  //- p
                //- card_rounded
              //- col-md-3
            br
            .expand.text-center
              a(href='#modal_coming_soon', data-toggle='modal')
                | see all
            hr
            .about
              .tabs
                ul.nav.nav-tabs(role='tablist')
                  li.active(role='presentation')
                    a(href='#pDetails', role='tab', data-toggle='tab') Product Details
                  li(role='presentation')
                    a(href='#pTastingNotes', role='tab', data-toggle='tab') Tasting Notes
                  li(role='presentation')
                    a(href='#pWineryInfo', role='tab', data-toggle='tab') Winery Information
                .tab-content.card
                  #pDetails.tab-pane.active(role='tabpanel')
                    p.comment
                      strong Brokenwood Graveyard Vineyard Shiraz 
                      | is a ripe and generous shiraz with lifted cherry and mint aromas nicely balanced with sweet chocolate notes on the nose and a soft rich palate with savoury cedary flavours and fine grained tannins on the finish.
                    .row
                      .col-xs-4.col-md-4
                        p
                          strong.green variety
                          br
                          | Shiraz
                      .col-xs-4.col-md-4
                        p
                          strong.green region
                          br
                          | Hunter Valley
                      .col-xs-4.col-md-4
                        p
                          strong.green alcohol
                          br
                          | 14.5%
                      .col-xs-4.col-md-4
                        p
                          strong.green vintage
                          br
                          | 2010
                      .col-xs-4.col-md-4
                        p
                          strong.green shipping
                          br
                          | Free
                      .col-xs-4.col-md-4(data-expand-items='')
                        p
                          strong.green returns
                          br
                          | 60 days
                      .col-xs-4.col-md-4(data-expand-items='')
                        p
                          strong.green case size
                          br
                          | 12 bottles
                      .col-xs-4.col-md-4(data-expand-items='')
                        p
                          strong.green standard drinks
                          br
                          | 8
                      .col-xs-4.col-md-4(data-expand-items='')
                        p
                          strong.green food matching
                          br
                          | Osso Bucco, Lamb
                      .col-xs-4.col-md-4
                        p.share
                          strong.green
                            | share
                            br
                            a(href='#', target='_blank')
                              i.fa.fa-twitter
                            a(href='#', target='_blank')
                              i.fa.fa-facebook
                            a(href='#', target='_blank')
                              i.fa.fa-google-plus
                            a(href='#', target='_blank')
                              i.fa.fa-envelope
                    .expand.text-center
                      a(href='#', data-expand='')
                        span.text more
                        span.text(style='display: none') less
                        i.fa.fa-caret-down
                  #pTastingNotes.tab-pane(role='tabpanel')
                  #pWineryInfo.tab-pane(role='tabpanel')
            .reviews
              .row
                .col-md-7
                  p.lead Customer Reviews & Ratings
                  a.popover_rating(href='#', data-toggle='popover', data-placement='bottom', data-title='Summary', data-original-title='', title='')
                    | 242 Ratings
                    span.ratings
                      table
                        tbody
                          tr
                            td(width='100')
                              small 90 - 100
                            td(width='270')
                              .progress
                                .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
                                  span.sr-only 100% Complete (success)
                            td.text-center(width='50')
                              small 231
                          tr
                            td
                              small 80 - 89
                            td
                              .progress
                                .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100', style='width: 10%')
                                  span.sr-only 10% Complete (success)
                            td.text-center
                              small 10
                          tr
                            td
                              small 70 - 79
                            td
                              .progress
                                .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='1', aria-valuemin='0', aria-valuemax='100', style='width: 1%')
                                  span.sr-only 1% Complete (success)
                            td.text-center
                              small 1
                          tr
                            td
                              small 60 - 69
                            td
                              .progress
                                .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%')
                                  span.sr-only 0% Complete (success)
                            td.text-center
                              small 0
                          tr
                            td
                              small 60 below
                            td
                              .progress
                                .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%')
                                  span.sr-only 0% Complete (success)
                            td.text-center
                              small 0
                  br
                  | 88 Reviews
                .col-md-5
                  .btn-review-wrap
                    a.button.inline.v7(href='product-ratings.html') Write a review
                    a.button.inline.v7(href='product-ratings.html') Rate product
              .review
                .list_groups
                  .content
                    .counter
                      .ring
                        .count 96
                    .input-group
                      span.input-group-addon
                        .thumb
                          .img
                            img(src='assets/images/users/user_1.jpg', alt='')
                      span.form-control
                        strong Quality Shiraz
                        br
                        small
                          | by
                          a(href='profile.html') Andrew Steer
                          | | May 26, 2016
                        p.comment
                          | I really 'dig' this Shiraz. It's definitely 'one out of the box'. You can 'lay this one to rest' for a while or drink it right now!
                  .footer
                    .row
                      .col-md-12
                        .right-to-center.basecolor
                          small
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') like
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') comment
                .list_groups
                  .content
                    .counter
                      .ring
                        .count 91
                    .input-group
                      span.input-group-addon
                        .thumb
                          .img
                            img(src='assets/images/users/user_2.jpg', alt='')
                      span.form-control
                        strong A beautiful wine
                        br
                        small
                          | by
                          a(href='#modal_coming_soon', data-toggle='modal') Carter Smith
                          | | May 26, 2016
                        p.comment
                          | A beautiful Hunter Valley Red and very pleasing to the palate. Great value for the price.
                  .footer
                    .row
                      .col-md-12
                        .right-to-center.basecolor
                          small
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') like
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') comment
                .list_groups
                  .content
                    .counter
                      .ring
                        .count 82
                    .input-group
                      span.input-group-addon
                        .thumb
                          .img
                            img(src='assets/images/users/user_5.jpg', alt='')
                      span.form-control
                        strong Very disappointing
                        br
                        small
                          | by
                          a(href='#modal_coming_soon', data-toggle='modal') Mary James
                          | | May 26, 2016
                        p.comment
                          | Not up to the quality of previous vintages. Still a not a bad drop but not nearly as good as the 2012.
                  .footer
                    .row
                      .col-md-12
                        .right-to-center.basecolor
                          small
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') like
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') comment
                    .comment
                      .list_groups
                        .content
                          .input-group
                            span.input-group-addon
                              .thumb
                                .img
                                  img(src='assets/images/users/user_7.jpg', alt='')
                            span.form-control
                              strong Comment: Very disappointing
                              br
                              small
                                | by
                                a(href='#modal_coming_soon', data-toggle='modal') Susie O'Brian
                                | | May 26, 2016
                              p.comment
                                | I can't agree Mary. Like you I also enjoyed the previous vintages but I also loved this one. I've recommended this to several friends who have been very impressed.
                  .footer
                    .row
                      .col-md-12
                        .right-to-center.basecolor
                          small
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') like
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') comment
                br
                .expand.text-center
                  a(href='#', data-toggle='collapse')
                    | more 
                    i.fa.fa-caret-down
                hr
                p.lead Discussions
                .list_groups.discussions
                  .content
                    .commentbox
                      .input-group
                        span.input-group-addon
                          .thumb
                            .img
                              img(src='assets/images/anonymous.png', alt='')
                        span.form-control
                          .composer
                            .head
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-pencil
                                | Status
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-picture-o
                                | Photo/Video
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-calendar-o
                                | Event
                            .content
                              textarea.form-control(rows='4')
                            .controls
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-camera
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-user-plus
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-smile-o
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-map-marker
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-clock-o
                              a.post(href='#')
                                i.fa.fa-send-o
                                | Post
                    .input-group.discussion-row
                      span.input-group-addon
                        .thumb
                          .img
                            img(src='assets/images/users/user_1.jpg', alt='')
                      span.form-control
                        small
                          | by
                          a(href='profile') Andrew Steer
                          | | May 25, 2016
                        p.comment Hi! has anybody tried this with waygu steak with asparagus saute potatoes?
                      .generic-controls
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-heart
                          | Like
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-comment
                          | Comment
                    .input-group.discussion-row
                      span.input-group-addon
                        .thumb
                          .img
                            img(src='assets/images/users/user_2.jpg', alt='')
                      span.form-control
                        small
                          | by
                          a(href='#modal_coming_soon', data-toggle='modal') Carter Smith
                          | | May 26, 2016
                        p.comment
                          | I had it with char grill ribeye fillet medium rare and i finished the whole bottle :)
                      .generic-controls
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-heart
                          | Like
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-comment
                          | Comment

      //- row
    //- container
  //- section

block scripts
  // External Script goes here...
  script.
    $(document).ready(function(){

      //- $(window).on("load resize", function() {
      //-   if ( $(this).width() > 991 ) {
      //-     $('section.productdetails').outerHeight(function(){
      //-       var top = $('nav.navbar').outerHeight();
      //-       var bottom = $('footer').outerHeight(true);
      //-       var screenHeight = $(window.top).height();
      //-
      //-       return (screenHeight - (top + bottom));
      //-     });
      //-     $('.product-detail-wrap, .productdetails .stage').height(function() {
      //-       return $('section.productdetails').height() - $('.bread').outerHeight();
      //-     });
      //-   } else {
      //-     $('section.productdetails, .product-detail-wrap, .productdetails .stage').height("");
      //-   }
      //- });
    });

    $(function () {
      $('.popover_rating[data-toggle="popover"]').popover({
        html: true,
        content : function() {
          return '<span class="ratings">' + $(this).parent().find("span.ratings").html() + '</span>';
        },
        title: function(){
      		return jQuery(this).data('title') + '<span class="close">&times;</span>';
      	}
      }).on('shown.bs.popover', function(e) {
      	var popover = jQuery(this);
      	$(this).parent().find('.popover span.close').on('click', function(e) {
      		popover.popover('hide');
      	});
      }).click(function(e) {
        e.preventDefault();
      });
    });


    /************************************************************
     *
     *    Angular code.
     */
    var app = angular.module('myApp', ['ngSanitize']);

    teaservice.init(app);

    // Add the controller for this page
    app.controller('myCtrl', function($scope, teaService) {

      // This code gets the "product" parameter from the
      // URL so we can use it as productVariantId.
      var productVariantId = NaN;
      window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str, key, value) {
        if (key === 'product') {
          productVariantId = parseInt(value);
        }
      });
      //console.log('Displaying the page for productVariantId=' + productVariantId);

      // During development only
      var DEFAULT_PRODUCT_VARIANT_ID = 6180;
      if (isNaN(productVariantId)) {
        productVariantId = DEFAULT_PRODUCT_VARIANT_ID;
      }


      // Start updating countdownTimers, even though
      // we won't have any yet.
      teaService.startCountdownTimers();


      // Call the TEA API to get the product details
      var params = {
        productVariantId: productVariantId,
        needPricing: true,
        needImages: true,
        needBreadcrumbs: true
      };
      teaService.getProduct(params).then(function(products){

        // Display the product details
        console.log('\n\n\nREPLY FROM getProduct:', products);
        if (products && products.length > 0 && products[0].variants.length > 0) {

          // In Drinkcircle there is one-to-one between products and variants.
          $scope.product0 = products[0];
          $scope.variant0 = products[0].variants[0];

          // See if we have an image for this product variant
          if ($scope.variant0.images && $scope.variant0.images.length > 0) {
            $scope.variant0_image = $scope.variant0.images[0].imagePath;
          } else {
            $scope.variant0_image = 'NOTFOUND.jpg'; // ZZZZZ
          }

          // Set the pricing information.
          $scope.pricingInfo = teaService.calculatePriceTable($scope.variant0);
        } else {
          //ZZZ Redirect to an error page or something.
          alert('unknown product variant ' + productVariantId);
        }
      });


      // Display the circle buys
      teaService.getSharedOrdersAndSetAngularVariables({
        productVariantId: productVariantId
      }, $scope, teaService);

    });


    /*
     *  Set up the login part at the top of the page.
     */
    authservice.init({
      host: 'localhost',
      port: 9090,
      tenant: 'nodeclient',
      pretend: true,
      onLoggedIn: function() {
        console.log('logged in');
      },
      onLoggedOut: function() {
        console.log('logged out');
      }
    });
    console.log('Current user:', authservice.getCurrentUser());

  //- script.
//- block scripts
