extends ./layout/layout_main.pug

block css
  style.
    .logged-in {
      display: block !important;
    }
    .logged-out {
      display: none;
    }
  //- style


block content

  section.userprofile.simple
    .container
      .row
        .col-md-12
          h3.title Review for 2015 Cricket Pitch White
        //- col-md-12
      //- row
      .card
        p Rate the product from 0 - 100
        .form-group
          a(href='#modal_coming_soon', data-toggle='modal')
            i.fa.fa-minus-circle
          //- a
          | &nbsp;
          input(type='text', value='88')
          | &nbsp;
          a(href='#modal_coming_soon', data-toggle='modal')
            i.fa.fa-plus-circle
          //- a
        //- form-group
        hr
        p
          strong Your Review (optional)
        //- p
        ol
          li Describe the product and specific details of your experience.
          li Be respectful.
          li Focus on the facts.
          li Write at least 20 words.
        //- ol
        .row
          .col-md-6
            .form-group
              label Add a heading for you review
              input.form-control(type='text')
            //- form-group
          //- col-md-6
        //- row
        .form-group
          label Your review
          textarea.form-control(rows='5')
        //- form-group
        .checkbox
          label
            input(type='checkbox')
            | &nbsp;I would recommend this drink to a friend
          //- label
        //- checkbox
        .text-right
          a.btn.btn-success(href='#modal_coming_soon', data-toggle='modal') Submit
        //- text-right
      //- card
    //- container
  //- section


block scripts
  // External Script goes here...
  script.
    $(function () {

    });
  //- script.
