extends ./layout/layout_main.pug

block css
  style.

  //- style


block content


  section.productdetails(ng-app="myApp" ng-controller="myCtrl" ng-cloak)
    .container
      p.bread
        a(href='#modal_coming_soon', data-toggle='modal') Red
        | &nbsp;/&nbsp;
        a(href='#modal_coming_soon', data-toggle='modal') {{variant.manufacturer}}
        | &nbsp;/&nbsp;
        a(href='#modal_coming_soon', data-toggle='modal')
          strong {{product.name}}
        //- a
      //- p
      //- bread
      .row
        .col-md-5.text-center
          h1
            span {{variant.manufacturer}}
            br
            strong
              small {{variant.name}}
            //- strong
            br
            p
            .row.pdetail-info-text
              .col-md-6.text-left
                small
                  | RRP {{rrp}}&nbsp;
                  span.pb / bottle
                //- small
              //- col-md-6
              .col-md-6.text-right
                small
                  span.avl {{variant.quantity}} available / 319 sold
                //- small
              //- col-md-6
            //- row
          //- h1
          hr
          .stage.infos
            a.button.inline.v8.absolute._left.see-all-drinks.thin-line(href="shop.html") see all drinks
            .stats
              .rate-counter
                .ring
                  .count 94
                    span points
                //- ring
              //- rate-counter
            //- stats
            img(src="//www.brokenwood.com.au/assets/images/products/pictures/GraveyardVineyardShiraz11.jpg", alt="")
          //- stage
          br
          p
        //- col-md-5
        .col-md-7.product-detail-wrap
          .infos
            .row
              .col-md-12
                .inventory
                  .pricing
                    .prod-details.deals
                      .label-qty.cols
                        strong Qty
                        br
                      //- qty
                      .label-bottle.cols
                        strong Bottle
                        br
                      //- label-bottle
                      .label-pack.cols
                        strong {{packSize}} Pack
                        br
                        //- span
                      //- price
                      .label-savings.cols
                        span
                          strong.green Save
                        br
                        small.green (per pack)
                      //- savings
                      .more-actions.cols
                    //- prod-details

                    hr
                    div(ng-repeat="price in priceTable")
                      .prod-details.deals
                        .label-qty.cols
                          span(style="{{price.style1}}") {{price.label}}
                        //- qty
                        .label-bottle.cols
                          span(style="{{price.style2}}") {{price.unitPrice}}
                        //- label-bottle
                        .label-pack.cols
                          span(style="{{price.style2}}") {{price.packPrice}}
                          //- span
                        //- price
                        .label-savings.cols
                          strong(ng-if="price.showBuy")
                            big.lead {{price.save}}
                          span(ng-if="!price.showBuy" style="{{price.style1}}") {{price.save}}
                        //- savings
                        .more-actions.cols
                          a.button.inline.v8.buynow.thin-line(ng-if="price.showBuy" href="#", target="_blank")
                            span.num buy now
                          //- a
                          a.button.inline.v7.thin-line(ng-if="price.showCircleBuy" href='circlebuy-join.html') join a circlebuy
                          a.button.inline.v8.thin-line(ng-if="price.showCircleBuy" href='circlebuy-start.html') create a circlebuy *
                        //- more-actions
                      //- prod-details
                    //- div

                    div(ng-if="false")
                      .prod-details.deals
                        .label-qty.cols
                          span 1 - 4
                        //- qty
                        .label-bottle.cols
                          span $25.99
                        //- label-bottle
                        .label-pack.cols
                          span $155.94
                          //- span
                        //- price
                        .label-savings.cols
                          strong
                            big.lead $24.00
                        //- savings
                        .more-actions.cols
                          a.button.inline.v8.buynow.thin-line(href="#", target="_blank")
                            span.num buy now
                          //- a
                        //- more-actions
                      //- prod-details
                      .prod-details.deals
                        .label-qty.cols
                          span 5 - 9
                        //- qty
                        .label-bottle.cols
                          span $21.99
                        //- label-bottle
                        .label-pack.cols
                          span $131.94
                          //- span
                        //- price
                        .label-savings.cols
                          strong
                            big.lead $48.00
                        //- savings
                        .more-actions.cols
                          a.button.inline.v8.buynow.thin-line(href="#", target="_blank")
                            span.num buy now
                          //- a
                          a.button.inline.v7.thin-line(href='circlebuy-join.html') join a circlebuy
                          a.button.inline.v8.thin-line(href='circlebuy-start.html') create a circlebuy *
                        //- more-actions
                      //- prod-details
                      .prod-details.deals
                        .label-qty.cols
                          span 10+
                        //- qty
                        .label-bottle.cols
                          span $19.99
                        //- label-bottle
                        .label-pack.cols
                          span $119.94
                          //- span
                        //- price
                        .label-savings.cols
                          strong
                            big.lead $60.00
                        //- savings
                        .more-actions.cols
                          a.button.inline.v8.buynow.thin-line(href="#", target="_blank")
                            span.num buy now
                          //- a
                          a.button.inline.v7.thin-line(href='circlebuy-join.html') join a circlebuy
                          a.button.inline.v8.thin-line(href='circlebuy-start.html') create a circlebuy *
                        //- more-actions
                      //- prod-details
                    br
                    p.text-center.relative.font12 * creator bonus: extra 50% off first case
                      a.green.absolute._right(href="circlebuys.html") learn about circlebuying
                    //- p
                  //- pricing
                //- inventory
              //- col-md-12
            //- row
            hr
            .row
              .col-md-4
                //- p.lead.text-center.totalcbcount Duration: 72hrs
              //- col-md-4
              .col-md-4
                p.lead.text-center.totalcbcount {{numSharedOrders}} circlebuys to join
              //- col-md-4
              .col-md-4
                //- .text-right
                //-   a.button.inline.v7(href="#") public
                //-   | &nbsp;
                //-   a.button.inline.v7(href="#") friends
                //- //- text-right
              //- col-md-4
            //- row


            //
            // Circle Buys short list, initially displayed
            //
            .row

              div(ng-repeat="sharedOrder in shortSharedOrdersList").col-md-6.col-sm-6.text-center.super-customized
                circlebuy-widget


                .card_rounded(style="display: none;")
                  a(href='#modal_preview_detail_brokenwood', data-toggle='modal')
                    big
                      span {{sharedOrder.productVariant.manufacturer}}
                        br
                        small.el {{sharedOrder.productVariant.name}}
                      //- span
                  //- a
                  hr
                  span
                    big {{sharedOrder.sharedOrder.ownerLabel}}&nbsp;
                      strong
                        big {{sharedOrder.sharedOrder.quantity}} pack&nbsp;
                      | circlebuy
                  .shortsummary
                    .sold
                      p.cases-sold sold
                      p.lead
                        span.green 7
                        br
                        small zzz
                        //- small cases
                      //- p
                    //- sold
                    .left
                      p left
                      p.lead
                        span.green 3
                        br
                        small zzz
                        //- small cases
                      //- p
                    //- left
                  //- shortsummary
                  p
                  .avatar
                    .img
                      .ring._70p
                      img(src='assets/images/circles/circles_8.png', alt='')
                    //- img
                    .countdown
                      //- span.time 32:12
                      br
                      p
                        big
                          i.fa.fa-clock-o
                          | &nbsp;
                          // This countdown timer gets updated by javascript
                          span(expiresAt="{{sharedOrder.sharedOrder.expiresAt}}").countdownTimer
                      //- p
                      //- span
                    //- countdown
                  //- avatar
                  br
                  p
                    a.button.inline.v8.joincirclebuy.thin-line(href='productdetails2.html') view
                    | &nbsp;
                    a.button.inline.v7.joincirclebuy.thin-line(href="circlebuy-start.html") join
                    | &nbsp;
                    a.button.inline.v8.joincirclebuy.thin-line(href="") watch
                  //- p
                  .circlebuy-table
                    .prod-details.deals
                      .label-qty.cols
                        strong Qty
                        br
                      //- qty
                      .label-bottle.cols
                        strong Bottle
                        br
                      //- label-bottle
                      .label-pack.cols
                        strong {{sharedOrder.productVariant.componentsQty}} Pack
                        br
                        //- span
                      //- price
                      .label-savings.cols
                        span
                          strong.green Save
                        br
                      //- savings
                    //- prod-details
                    .prod-details.deals.tr
                      .label-qty.cols
                        span {{sharedOrder.sharedOrder.quantity}}
                      //- qty
                      .label-bottle.cols
                        span {{sharedOrder.d_unitPrice}}
                      //- label-bottle
                      .label-pack.cols
                        span {{sharedOrder.d_packPrice}}
                        //- span
                      //- price
                      .label-savings.cols
                        strong.middle
                          big.lead {{sharedOrder.d_packSave}}
                      //- savings
                    //- prod-details
                  //- .circlebuy-table
                //- card_rounded
              //- col-md-3

              // Initial Dummy circleBuy
              .col-md-6.col-sm-6.text-center.super-customized
                .card_rounded
                  a(href='#modal_preview_detail_brokenwood', data-toggle='modal')
                    big
                      span Brokenwood
                        br
                        small.el Graveyard Vineyard Shiraz 2010
                      //- span
                  //- a
                  hr
                  span
                    big Charmaine's&nbsp;
                      strong
                        big 5 case&nbsp;
                      | circlebuy
                  .shortsummary
                    .sold
                      p.cases-sold sold
                      p.lead
                        span.green 3
                        br
                        //- small cases
                      //- p
                    //- sold
                    .left
                      p left
                      p.lead
                        span.green 2
                        br
                        //- small cases
                      //- p
                    //- left
                  //- shortsummary
                  p
                  .avatar
                    .img
                      .ring._40p
                      img(src='assets/images/circles/circles_1.png', alt='')
                    //- img
                    .countdown
                      //- span.time 32:12
                      br
                      p
                        big
                          i.fa.fa-clock-o
                          span &nbsp;16:08.00
                      //- p
                      //- span
                    //- countdown
                  //- avatar
                  br
                  p
                    a.button.inline.v8.joincirclebuy.thin-line(href='productdetails2.html') view
                    | &nbsp;
                    a.button.inline.v7.joincirclebuy.thin-line(href="circlebuy-start.html") join
                    | &nbsp;
                    a.button.inline.v8.joincirclebuy.thin-line(href="") watch
                  //- p
                  .circlebuy-table
                    .prod-details.deals
                      .label-qty.cols
                        strong Qty
                        br
                      //- qty
                      .label-bottle.cols
                        strong Bottle
                        br
                      //- label-bottle
                      .label-pack.cols
                        strong 6 Pack
                        br
                        //- span
                      //- price
                      .label-savings.cols
                        span
                          strong.green Save
                        br
                      //- savings
                    //- prod-details
                    .prod-details.deals.tr
                      .label-qty.cols
                        span 5
                      //- qty
                      .label-bottle.cols
                        span $21.99
                      //- label-bottle
                      .label-pack.cols
                        span $131.94
                        //- span
                      //- price
                      .label-savings.cols
                        strong.middle
                          big.lead $48.00
                      //- savings
                    //- prod-details
                  //- .circlebuy-table
                //- card_rounded
              //- col-md-3
            //- row
            br


            // Circle Buys long list, initially hidden
            .expand.text-center
              a(href='#initiallyHiddenCircleBuys', data-toggle='collapse')
                | more&nbsp;
                i.fa.fa-caret-down
            //- expand
            .row(id="initiallyHiddenCircleBuys" class="collapse")
              div(ng-repeat="sharedOrder in longSharedOrdersList").col-md-6.col-sm-6.text-center.super-customized
                br
                circlebuy-widget
                .card_rounded(style="display: none;")
                  a(href='#modal_preview_detail_brokenwood', data-toggle='modal')
                    big
                      span {{sharedOrder.productVariant.manufacturer}}
                        br
                        small.el {{sharedOrder.productVariant.name}}
                      //- span
                  //- a
                  hr
                  span
                    big {{sharedOrder.sharedOrder.ownerLabel}}&nbsp;
                      strong
                        big {{sharedOrder.sharedOrder.quantity}} pack&nbsp;
                      | circlebuy
                  .shortsummary
                    .sold
                      p.cases-sold sold
                      p.lead
                        span.green 7
                        br
                        small zzz
                        //- small cases
                      //- p
                    //- sold
                    .left
                      p left
                      p.lead
                        span.green 3
                        br
                        small zzz
                        //- small cases
                      //- p
                    //- left
                  //- shortsummary
                  p
                  .avatar
                    .img
                      .ring._70p
                      img(src='assets/images/circles/circles_8.png', alt='')
                    //- img
                    .countdown
                      //- span.time 32:12
                      br
                      p
                        big
                          i.fa.fa-clock-o
                          | &nbsp;
                          // This countdown timer gets updated by javascript
                          span(expiresAt="{{sharedOrder.sharedOrder.expiresAt}}").countdownTimer
                      //- p
                      //- span
                    //- countdown
                  //- avatar
                  br
                  p
                    a.button.inline.v8.joincirclebuy.thin-line(href='productdetails2.html') view
                    | &nbsp;
                    a.button.inline.v7.joincirclebuy.thin-line(href="circlebuy-start.html") join
                    | &nbsp;
                    a.button.inline.v8.joincirclebuy.thin-line(href="") watch
                  //- p
                  .circlebuy-table
                    .prod-details.deals
                      .label-qty.cols
                        strong Qty
                        br
                      //- qty
                      .label-bottle.cols
                        strong Bottle
                        br
                      //- label-bottle
                      .label-pack.cols
                        strong {{sharedOrder.productVariant.componentsQty}} Pack
                        br
                        //- span
                      //- price
                      .label-savings.cols
                        span
                          strong.green Save
                        br
                      //- savings
                    //- prod-details
                    .prod-details.deals.tr
                      .label-qty.cols
                        span {{sharedOrder.sharedOrder.quantity}}
                      //- qty
                      .label-bottle.cols
                        span {{sharedOrder.d_unitPrice}}
                      //- label-bottle
                      .label-pack.cols
                        span {{sharedOrder.d_packPrice}}
                        //- span
                      //- price
                      .label-savings.cols
                        strong.middle
                          big.lead {{sharedOrder.d_packSave}}
                      //- savings
                    //- prod-details
                  //- .circlebuy-table
                //- card_rounded
              //- col-md-3
            //- row


            // Product Details / Tasting Notes / Winery Information
            hr
            .about
              .tabs
                ul.nav.nav-tabs(role='tablist')
                  li.active(role='presentation')
                    a(href='#pDetails', role='tab', data-toggle='tab') Product Details
                  //- li
                  li(role='presentation')
                    a(href='#pTastingNotes', role='tab', data-toggle='tab') Tasting Notes
                  //- li
                  li(role='presentation')
                    a(href='#pWineryInfo', role='tab', data-toggle='tab') Winery Information
                  //- li
                //- ul
                .tab-content.card
                  #pDetails.tab-pane.active(role='tabpanel')
                    p.comment
                      strong Brokenwood Graveyard Vineyard Shiraz&nbsp;
                      | is a ripe and generous shiraz with lifted cherry and mint aromas nicely balanced with sweet chocolate notes on the nose and a soft rich palate with savoury cedary flavours and fine grained tannins on the finish.
                    //- p
                    .row
                      .col-xs-4.col-md-4
                        p
                          strong.green variety
                          br
                          | Shiraz
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4
                        p
                          strong.green region
                          br
                          | Hunter Valley
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4
                        p
                          strong.green alcohol
                          br
                          | 14.5%
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4
                        p
                          strong.green vintage
                          br
                          | 2010
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4
                        p
                          strong.green shipping
                          br
                          | Free
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4(data-expand-items)
                        p
                          strong.green returns
                          br
                          | 60 days
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4(data-expand-items)
                        p
                          strong.green case size
                          br
                          | 12 bottles
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4(data-expand-items)
                        p
                          strong.green standard drinks
                          br
                          | 8
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4(data-expand-items)
                        p
                          strong.green food matching
                          br
                          | Osso Bucco, Lamb
                        //- p
                      //- col-md-4
                      .col-xs-4.col-md-4
                        p.share
                          strong.green share
                            br
                            a(href="#", target="_blank")
                              i.fa.fa-twitter
                            //- a
                            a(href="#", target="_blank")
                              i.fa.fa-facebook
                            //- a
                            a(href="#", target="_blank")
                              i.fa.fa-google-plus
                            //- a
                            a(href="#", target="_blank")
                              i.fa.fa-envelope
                            //- a
                        //- p.share
                      //- col-md-4
                    //- row
                    .expand.text-center
                      a(href='#', data-expand)
                        span.text more
                        span.text(style='display: none') less
                        | &nbsp;
                        i.fa.fa-caret-down
                      //- a
                    //- expand
                  //- tab-pane
                  #pTastingNotes.tab-pane(role='tabpanel')

                  //- tab-pane
                  #pWineryInfo.tab-pane(role='tabpanel')

                  //- tab-pane
                //- tab-content
              //- tabs
            //- about




            // Reviews Section
            .reviews
              .row
                .col-md-7
                  p.lead Customer Reviews &amp; Ratings
                  a.popover_rating(href="#", data-toggle="popover", data-placement="bottom", data-title="Summary") 242 Ratings
                    span.ratings
                      table
                        tr
                          td(width="100")
                            small 90 - 100
                          //- td
                          td(width="270")
                            .progress
                              .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
                                span.sr-only 100% Complete (success)
                              //- progress-bar
                            //- progress
                          //- td
                          td.text-center(width="50")
                            small 231
                        //- tr
                        tr
                          td
                            small 80 - 89
                          //- td
                          td
                            .progress
                              .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100', style='width: 10%')
                                span.sr-only 10% Complete (success)
                              //- progress-bar
                            //- progress
                          //- td
                          td.text-center
                            small 10
                        //- tr
                        tr
                          td
                            small 70 - 79
                          //- td
                          td
                            .progress
                              .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='1', aria-valuemin='0', aria-valuemax='100', style='width: 1%')
                                span.sr-only 1% Complete (success)
                              //- progress-bar
                            //- progress
                          //- td
                          td.text-center
                            small 1
                        //- tr
                        tr
                          td
                            small 60 - 69
                          //- td
                          td
                            .progress
                              .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%')
                                span.sr-only 0% Complete (success)
                              //- progress-bar
                            //- progress
                          //- td
                          td.text-center
                            small 0
                        //- tr
                        tr
                          td
                            small 60 below
                          //- td
                          td
                            .progress
                              .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%')
                                span.sr-only 0% Complete (success)
                              //- progress-bar
                            //- progress
                          //- td
                          td.text-center
                            small 0
                        //- tr
                      //- table
                    //- ratings
                  //- popover_rating
                  br
                  | 88 Reviews
                //- col-md-6
                .col-md-5
                  .btn-review-wrap
                    a.button.inline.v7(href="product-ratings.html") Write a review
                    a.button.inline.v7(href="product-ratings.html") Rate product
                  //- btn-review-wrap
                //- col-md-6
              //- row
              .review
                .list_groups
                  .content
                    .counter
                      .ring
                        //- img(src="assets/images/ring_silver.png", alt="")
                        .count 96
                      //- ring
                    //- counter
                    .input-group
                      span.input-group-addon
                        .thumb
                          .img
                            img(src='assets/images/users/user_1.jpg', alt='')
                      span.form-control
                        strong Quality Shiraz
                        br
                        small
                          | by
                          a(href="profile.html") Andrew Steer
                          | | May 26, 2016
                        //- small
                        p.comment I really 'dig' this Shiraz. It's definitely 'one out of the box'. You can 'lay this one to rest' for a while or drink it right now!
                      //- span
                    //- input-group
                  //- content
                  .footer
                    .row
                      .col-md-12
                        .right-to-center.basecolor
                          small
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') like
                            //- strong
                            | &nbsp;&nbsp;&nbsp;
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') comment
                            //- strong
                          //- small
                        //- right-to-center
                      //- col-md-12
                    //- row
                  //- footer
                //- list_groups
                .list_groups
                  .content
                    .counter
                      .ring
                        //- img(src="assets/images/ring_silver.png", alt="")
                        .count 91
                      //- ring
                    //- counter
                    .input-group
                      span.input-group-addon
                        .thumb
                          .img
                            img(src='assets/images/users/user_2.jpg', alt='')
                      span.form-control
                        strong A beautiful wine
                        br
                        small
                          | by
                          a(href='#modal_coming_soon', data-toggle='modal') Carter Smith
                          | | May 26, 2016
                        //- small
                        p.comment A beautiful Hunter Valley Red and very pleasing to the palate. Great value for the price.
                      //- span
                    //- input-group
                  //- content
                  .footer
                    .row
                      .col-md-12
                        .right-to-center.basecolor
                          small
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') like
                            //- strong
                            | &nbsp;&nbsp;&nbsp;
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') comment
                            //- strong
                          //- small
                        //- right-to-center
                      //- col-md-12
                    //- row
                  //- footer
                //- list_groups
                .list_groups
                  .content
                    .counter
                      .ring
                        //- img(src="assets/images/ring_silver.png", alt="")
                        .count 82
                      //- ring
                    //- counter
                    .input-group
                      span.input-group-addon
                        .thumb
                          .img
                            img(src='assets/images/users/user_5.jpg', alt='')
                      span.form-control
                        strong Very disappointing
                        br
                        small
                          | by
                          a(href='#modal_coming_soon', data-toggle='modal') Mary James
                          | | May 26, 2016
                        //- small
                        p.comment Not up to the quality of previous vintages. Still a not a bad drop but not nearly as good as the 2012.
                      //- span
                    //- input-group
                  //- content
                  .footer
                    .row
                      .col-md-12
                        .right-to-center.basecolor
                          small
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') like
                            //- strong
                            | &nbsp;&nbsp;&nbsp;
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') comment
                            //- strong
                          //- small
                        //- right-to-center
                      //- col-md-12
                    //- row
                    .comment
                      .list_groups
                        .content
                          .input-group
                            span.input-group-addon
                              .thumb
                                .img
                                  img(src='assets/images/users/user_7.jpg', alt='')
                            span.form-control
                              strong Comment: Very disappointing
                              br
                              small
                                | by
                                a(href='#modal_coming_soon', data-toggle='modal') Susie O'Brian
                                | | May 26, 2016
                              //- small
                              p.comment I can't agree Mary. Like you I also enjoyed the previous vintages but I also loved this one. I've recommended this to several friends who have been very impressed.
                            //- span
                          //- input-group
                        //- content
                      //- list_groups
                    //- comment
                  //- footer
                  .footer
                    .row
                      .col-md-12
                        .right-to-center.basecolor
                          small
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') like
                            //- strong
                            | &nbsp;&nbsp;&nbsp;
                            span.green
                              a(href='#modal_coming_soon', data-toggle='modal') comment
                            //- strong
                          //- small
                        //- right-to-center
                      //- col-md-12
                    //- row
                  //- footer
                //- list_groups
                br
                .expand.text-center
                  a(href='#', data-toggle='collapse')
                    | more&nbsp;
                    i.fa.fa-caret-down
                //- expand
                hr




                // Discussions
                p.lead Discussions
                .list_groups.discussions
                  .content
                    .commentbox
                      .input-group
                        span.input-group-addon
                          .thumb
                            .img
                              img(src='assets/images/anonymous.png', alt='')
                            //- img
                          //- thumb
                        //- span
                        span.form-control
                          .composer
                            .head
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-pencil
                                | Status
                              //- a
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-picture-o
                                | Photo/Video
                              //- a
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-calendar-o
                                | Event
                              //- a
                            //- head
                            .content
                              textarea.form-control(rows='4')
                            //- content
                            .controls
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-camera
                              //- a
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-user-plus
                              //- a
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-smile-o
                              //- a
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-map-marker
                              //- a
                              a(href='#modal_coming_soon', data-toggle='modal')
                                i.fa.fa-clock-o
                              //- a
                              a.post(href='#')
                                i.fa.fa-send-o
                                | Post
                              //- a
                            //- controls
                          //- composer
                        //- span
                      //- input-group
                    //- commentbox

                    .input-group.discussion-row
                      span.input-group-addon
                        .thumb
                          .img
                            img(src='assets/images/users/user_1.jpg', alt='')
                      span.form-control
                        small
                          | by
                          a(href="profile") Andrew Steer
                          | | May 25, 2016
                        //- small
                        p.comment Hi! has anybody tried this with waygu steak with asparagus saute potatoes?
                      //- span
                      .generic-controls
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-heart
                          | Like
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-comment
                          | Comment
                      //- generic-controls
                    //- input-group
                    .input-group.discussion-row
                      span.input-group-addon
                        .thumb
                          .img
                            img(src='assets/images/users/user_2.jpg', alt='')
                      span.form-control
                        small
                          | by
                          a(href='#modal_coming_soon', data-toggle='modal') Carter Smith
                          | | May 26, 2016
                        //- small
                        p.comment I had it with char grill ribeye fillet medium rare and i finished the whole bottle :)
                      //- span
                      .generic-controls
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-heart
                          | Like
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-comment
                          | Comment
                      //- generic-controls
                    //- input-group
                  //- content
                //- list_groups
              //- review
            //- reviews
          //- infos
        //- col-md-7
      //- row
    //- container
  //- section

block scripts
  // External Script goes here...
  script.
    $(document).ready(function(){

      //- $(window).on("load resize", function() {
      //-   if ( $(this).width() > 991 ) {
      //-     $('section.productdetails').outerHeight(function(){
      //-       var top = $('nav.navbar').outerHeight();
      //-       var bottom = $('footer').outerHeight(true);
      //-       var screenHeight = $(window.top).height();
      //-
      //-       return (screenHeight - (top + bottom));
      //-     });
      //-     $('.product-detail-wrap, .productdetails .stage').height(function() {
      //-       return $('section.productdetails').height() - $('.bread').outerHeight();
      //-     });
      //-   } else {
      //-     $('section.productdetails, .product-detail-wrap, .productdetails .stage').height("");
      //-   }
      //- });
    });

    $(function () {
      $('.popover_rating[data-toggle="popover"]').popover({
        html: true,
        content : function() {
          return '<span class="ratings">' + $(this).parent().find("span.ratings").html() + '</span>';
        },
        title: function(){
      		return jQuery(this).data('title') + '<span class="close">&times;</span>';
      	}
      }).on('shown.bs.popover', function(e) {
      	var popover = jQuery(this);
      	$(this).parent().find('.popover span.close').on('click', function(e) {
      		popover.popover('hide');
      	});
      }).click(function(e) {
        e.preventDefault();
      });
    });


    /************************************************************
     *
     *    Start of the Angular code.
     */
    var app = angular.module('myApp', ['ngSanitize']);

    app.directive('circlebuyWidget', function(){
      return {
        restrict: 'E',
        scope: false,
        templateUrl: 'circlebuy-widget.html'
      }
    });


    app.factory('teaService', function($http, $q) {
      return { // start of object

        /**
        *	Get details about a product from the TEA API.
        *	Returns a promise (since $http(req) is asyncronous)
        */
        getProduct: function(productId) {
          var url = 'http://localhost:3000/philChristmas/product/' + productId
          console.log('url is ' + url)

          // Call the API to get the product details
          // ZZZZ This should use JSONP, as some browsers do not support CORS.
          // ZZZZ Unfortunately JSONP does not support headers, so we need
          // ZZZZ to pass details either in the url or the data. i.e. the
          // ZZZZ server requires changes.
          var req = {
            method: 'GET',
            url: url,
            headers: {
              "access-token": "0613952f81da9b3d0c9e4e5fab123437",
              "version": "2.0.0"
            },
            data: { }
          }

          // Prepare the promise, so the caller can use .then(fn) to handle the result.
          var promise = $http(req).then(handleSuccess, handleError);
          return promise;
        },

        /**
        *	Get details about a product from the TEA API.
        *	Returns a promise (since $http(req) is asyncronous)
        */
        getSharedOrders: function(productVariantId) {
          var url = 'http://localhost:3000/philChristmas/getSharedOrders';
          console.log('url is ' + url)

          // Call the API to get the product details
          // ZZZZ This should use JSONP, as some browsers do not support CORS.
          // ZZZZ Unfortunately JSONP does not support headers, so we need
          // ZZZZ to pass details either in the url or the data. i.e. the
          // ZZZZ server requires changes.
          var req = {
            method: 'POST',
            url: url,
            headers: {
              "access-token": "0613952f81da9b3d0c9e4e5fab123437",
              "version": "2.0.0"
            },
            data: {
              productVariantId: productVariantId
            }
          }

          // Prepare the promise, so the caller can use .then(fn) to handle the result.
          var promise = $http(req).then(handleSuccess, handleError);
          return promise;
        }

      }; // end of object


      function handleSuccess(response) {
        console.log('success:', response)
        return response.data;
      }

      function handleError(resonse){
        alert('An error occurred calling the TEA API.\nSee the Javascript console for details.')
        console.log('failure:', response)
        return null;
      }

    });



    // Put the order on the page
    app.controller('myCtrl', function($scope, teaService) {

        // Initial product load.
        var NICE_INITIAL_ID = 618
        $scope.productId = NICE_INITIAL_ID;
        displayProduct(NICE_INITIAL_ID);

        var NICE_PRODUCT_VARIANT_ID = 6180;
        displayCircleBuys(NICE_PRODUCT_VARIANT_ID);

        /**
        *	Display the product with the specified productId.
        *	This will call the TEA API then update the page.
        */
        function displayProduct(productId) {

          // Call the TEA API to get the product details
          teaService.getProduct(productId).then(function(product){

            // Display the product details
            $scope.product = product;

            // In Drinkcircle there is one-to-one between products and variants
            // Check there is only one variant, and it is active. ZZZZ
            variant = product.variants[0];
            $scope.variant = variant;

            // Calculate the RRP Prices
            rrp = $scope.variant.manufacturerPrice;
            packSize = $scope.variant.componentsQty;
            rrpPack = rrp * packSize;
            rrpPack = Math.ceil(rrpPack * 100) / 100; // round to nearest cent

            $scope.available = $scope.variant.quantity;
            $scope.singlePrice = $scope.variant.pricing[0];
            $scope.quantityPrice = $scope.singlePrice.quantityPricing;

            $scope.packSize = packSize;
            $scope.rrp = accounting.formatMoney(rrp);

            var rrpPricing = {
              min: 1,
              label: 'RRP',
              unitPrice: accounting.formatMoney(rrp),
              packPrice: accounting.formatMoney(rrpPack),
              save: '$0.00',
              showBuy: false,
              showCircleBuy: false,
              style1: 'font-size: 110%; font-weight: 100%; color: #f22;',
              style2: 'font-size: 110%; font-weight: 100%; color: #f22; text-decoration: line-through;'
            };

            // Calculate our non-quantity price
            var unitPrice = variant.lastPrice;
            packPrice = unitPrice * packSize;
            packPrice = Math.ceil(packPrice * 100) / 100; // round to nearest cent
            packSave = rrpPack - packPrice;
            packSave = Math.ceil(packSave * 100) / 100; // round to nearest cent
            var ourPricing = {
              min: 1,
              label: '1',
              unitPrice: accounting.formatMoney(unitPrice),
              packPrice: accounting.formatMoney(packPrice),
              save: accounting.formatMoney(packSave),
              showBuy: true,
              showCircleBuy: false,
              styles: ''
            };

            // Create the prices tables
            var pTable = [
              rrpPricing,
              ourPricing,
            ];

            // Sort the quantity prices in quantity order.
            //ZZZZ

            // Now add the quantity prices
            for (var i = 0; i < $scope.quantityPrice.length; i++) {
              var qp = $scope.quantityPrice[i];

              var qty = qp.quantity;
              var qtyPrice = qp.price;
              packPrice = qtyPrice * packSize;
              packPrice = Math.ceil(packPrice * 100) / 100; // round to nearest cent
              packSave = rrpPack - packPrice;
              packSave = Math.ceil(packSave * 100) / 100; // round to nearest cent

              // Update the label on the previous quantity price
              // Up till not it should only have the minimum qty.
              pTable[pTable.length - 1].label += ' - ' + (qty - 1);


              pTable.push({
                min: qty,
                label: '' + qty,
                unitPrice: accounting.formatMoney(qtyPrice),
                packPrice: accounting.formatMoney(packPrice),
                save: accounting.formatMoney(packSave),
                showBuy: true,
                showCircleBuy: true,
                styles: ''
              });
            }

            // Add a '+' onto the final quantity.
            pTable[pTable.length - 1].label += '+';




            $scope.priceTable = pTable;

          });
        }


        /**
         *  Display Circle Buys
         */
        function displayCircleBuys(productVariantId) {

            // Call the TEA API to get the product details
            teaService.getSharedOrders(productVariantId).then(function(sharedOrders){

              $scope.numSharedOrders = sharedOrders.length;

              // Put the shared orders into two lists, one that is always
              // visible, and another when the 'more' button is pressed.
              var NUM_IN_SHORT_LIST = 1;
              var NUM_IN_LONG_LIST = 16;
              var shortSharedOrdersList = [ ];
              var longSharedOrdersList = [ ];
              $.each(sharedOrders, function(index, sharedOrder) {
                if (index < NUM_IN_SHORT_LIST) {
                  console.log('adding so ' + sharedOrder.shared_order_id + 'to short list', sharedOrder);
                  shortSharedOrdersList.push(sharedOrder);
                } else if (index < NUM_IN_SHORT_LIST + NUM_IN_LONG_LIST){
                  console.log('adding so ' + sharedOrder.shared_order_id + 'to long list', sharedOrder);
                  longSharedOrdersList.push(sharedOrder);
                }
              });
              $scope.shortSharedOrdersList = shortSharedOrdersList;
              $scope.longSharedOrdersList = longSharedOrdersList;

              // Calculate the derived (d_) values
              $.each(sharedOrders, function(index, sharedOrder) {
                console.log('')

                // Recommended retail price
                var rrp = sharedOrder.productVariant.manufacturerPrice;
                var packSize = sharedOrder.productVariant.componentsQty;
                var rrpPack = rrp * packSize;

                // Work out the bottle and pack price, and the saving
                var qty = sharedOrder.pricingQuantity.quantity;
                var price = sharedOrder.pricingQuantity.price;
                unitPrice = Math.ceil(price * 100) / 100; // round to nearest cent
                sharedOrder.d_unitPrice = accounting.formatMoney(unitPrice);
                var packPrice = price * packSize;
                packPrice = Math.ceil(packPrice * 100) / 100; // round to nearest cent
                sharedOrder.d_packPrice = accounting.formatMoney(packPrice);
                var packSave = rrpPack - packPrice;
                packSave = Math.ceil(packSave * 100) / 100; // round to nearest cent
                sharedOrder.d_packSave = accounting.formatMoney(packSave);

                console.log('Updated so:', sharedOrder)
              });

              // Update the countdown timers
              setInterval(function() {
                $('.countdownTimer').each( function( index, element ){
                  var expiresAt = $(element).attr("expiresAt");
                  $(element).text(expiresAt_HMS(expiresAt));
                });
              }, 1000);
            });
        }

        // Convert from 2016-12-30T00:00:00.000Z to a
        // relative time in hours, minutes and seconds.
        var expiresAt_HMS = function(expiresAt) {

          var expires = moment(expiresAt);
          var duration = moment.duration(expires.diff(moment.now()));

          var hours = duration.asHours(); // Float
          if (hours < 0) {
            return "expired";
          }
          var hours = '' + Math.floor(hours);
          var minutes = '' + duration.minutes()
          var seconds = '' + duration.seconds()
          while (hours.length < 2) { hours = '0' + hours; }
          while (minutes.length < 2) { minutes = '0' + minutes; }
          while (seconds.length < 2) { seconds = '0' + seconds; }

          expiresAt_hms = hours + ':' + minutes + ':' + seconds;
          return expiresAt_hms;
        }

        // Function called when search button is pressed
        $scope.clickedOnProductSearchButton = function() {
          displayProduct($scope.productId);
        }

        // Function called when search button is pressed
        $scope.clickedOnProductVariant = function(index) {
          setCurrentVariant(index);
        }

    });









  //- script.
//- block scripts
