extends ./layout/layout_main.pug

block css
  style.
    .logged-in {
      display: block !important;
    }
    .logged-out {
      display: none;
    }
  //- style


block content

  .banner.userprofile.seller.ww
    .gradient
    .info
      .container
        .row
          .col-sm-3.col-md-3
            .photo
              .img.square
                a(href='#modal_coming_soon', data-toggle='modal')
                  i.fa.fa-camera
                //- a
                img(src="assets/images/producers/westwinds/logo.png", alt="")
              //- img
              .name
                span The West Winds Gin&nbsp;
                sup
                  a(href='#modal_coming_soon', data-toggle='modal')
                    i.fa.fa-pencil
                    span edit profile
                  //- a
                //- sup
                br
                small Gin
              //- name
            //- photo
          //- col-md-3
        //- row
        .row
          .col-sm-9.col-md-9.col-sm-offset-3.col-md-offset-3
            .userprofilemenu
              nav.menu
                ul
                  li
                    a(href="shop-ww.html") Shop
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') News
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Like
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Message
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Save
                  //- li
                  li
                    a.active(href="seller-about-ww.html") About
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Photos
                  //- li
                  li
                    a(href="seller-reviews.html") Reviews
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Events
                  //- li
                //- ul
              //- nav
            //- userprofilemenu
          //- col-md-6
        //- row
      //- container
    //- info
  //- banner-home

  section.userprofile
    .container
      .row
        .col-md-3
          br
          .intro.nomtop
            h4 Gin &middot; Margaret River, Western Australia
            .rating-status
              | 4.6
              .stars
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star-half-o
              //- stars
            //- rating-status
          //- intro
          .search.page
            a(href="#", target="_blank")
              i.fa.fa-search
            //- a
            input.form-control(type='text', placeholder='search for posts on this page...')
          //- search
          .list_groups.sellerinfo
            .content
              .input-group
                span.input-group-addon
                  i.fa.fa-users
                span.form-control
                  a(href='#modal_coming_soon', data-toggle='modal') 4,885 people like this
                  //- p
                //- span
              //- input-group
              .input-group
                span.input-group-addon
                  i.fa.fa-map-marker
                span.form-control
                  a(href='#modal_coming_soon', data-toggle='modal') 2,982 people have been here
                  //- p
                //- span
              //- input-group
              .input-group
                span.input-group-addon
                  i.fa.fa-user-plus
                span.form-control
                  a(href='#modal_coming_soon', data-toggle='modal')
                    | Invite friends to like this Page
                  //- p
                //- span
              //- input-group
              .form-group.text-center.linetop
                button.btn.btn-success(onclick="location.href = 'shop-ww.html'") shop now
              //- input-group
            //- content
          //- sellerinfo

          .grid_groups.friends
            h4
              a(href='#modal_coming_soon', data-toggle='modal') Photos
              small (
                a(href='#modal_coming_soon', data-toggle='modal') 234
                | )
            //- h4
            .content
              .container-fluid
                .row
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/westwinds/1.png", alt="")
                  //- col-md-4
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/westwinds/2.png", alt="")
                  //- col-md-4
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/westwinds/3.png", alt="")
                  //- col-md-4
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/westwinds/4.png", alt="")
                  //- col-md-4
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/westwinds/5.png", alt="")
                  //- col-md-4
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/westwinds/6.png", alt="")
                  //- col-md-4
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/westwinds/7.png", alt="")
                  //- col-md-4
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/westwinds/8.png", alt="")
                  //- col-md-4
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/westwinds/9.png", alt="")
                  //- col-md-4
                //- row
              //- container
            //- content
            .more
              a(href='#modal_coming_soon', data-toggle='modal') See all
            //- more
          //- grid_groups
        //- col-md-3
        .col-md-9
          br
          .card
            .map.about
              img(src='assets/images/makers/brokenwood/map.png')
              .map-info.card
                table
                  tr
                    td(widt='30')
                      i.fa.fa-long-arrow-right
                    //- td
                    td
                      | Margaret River,
                      br
                      | Western Australia
                    //- td
                    td
                      a.btn.btn-default.btn-sm(href='#modal_coming_soon', data-toggle='modal') Get Directions
                    //- td
                  //- tr
                  tr
                    td
                      i.fa.fa-comment
                    //- td
                    td
                      | @TheWestWindsGin
                    //- td
                    td
                      a.btn.btn-default.btn-sm(href='#modal_coming_soon', data-toggle='modal') Message Now
                    //- td
                  //- tr
                //- table
              //- map-info
            //- map
            .row.about-info
              .col-md-6
                p.lead Hours
                hr
                p
                  i.fa.fa-clock-o
                  | &nbsp;
                  | 12:00PM - 7:00PM
                  | &nbsp;
                  i.fa.fa-caret-down
                //- p
                br
                p.lead Business Info
                hr
                table(width='100%')
                  tr
                    td
                      i.fa.fa-flag
                    //- td
                    td
                      | Founded in 2010
                    //- td
                  //- tr
                  tr
                    td
                      i.fa.fa-compass
                    //- td
                    td
                      | Mission
                      p contact jeremy@thewestwindsgin.com - 0412 the gin
                    //- td
                  //- tr
                //- table
              //- .col-md-6
              .col-md-6
                p.lead Story
                hr
                p After wasting hundreds of years distilling water, it took mankind until the 12th century to discover that distilling alcohol was far more rewarding. Originally created in the 17th century by the Dutch, Gin was initially favoured for it's medicinal qualities. In the time since, this magic tonic has been developed, refined and improved with more &amp; more exotic ingredients added to it's juniper core.
                p We named our Gin 'The West Winds' in a tribute to the breezes that enabled explorers &amp; merchants from the safe havens of Europe to explore the New World in pursuit of gold in the form of spices, botanicals and luxuriant exotica. Our gin reflects the bold and adventurous nature of the traders and has pure Margaret River water at it's core.
              //- .col-md-6
            //- row
          //- card
        //- col-md-9
      //- row
    //- container
  //- section


block scripts
  // External Script goes here...
  script.
    $(document).ready(function(){

    });
