extends ./layout/layout_main.pug

block css
  style.
    .logged-in {
      display: block !important;
    }
    .logged-out {
      display: none;
    }
  //- style


block content

  .banner.userprofile.seller
    .gradient
    .info
      .container
        .row
          .col-sm-3.col-md-3
            .photo
              .img.square
                a(href='#modal_coming_soon', data-toggle='modal')
                  i.fa.fa-camera
                //- a
                img(src="assets/images/producers/brokenwood/logo.jpg", alt="")
              //- img
              .name
                span Brokenwood Wines&nbsp;
                sup
                  a(href='#modal_coming_soon', data-toggle='modal')
                    i.fa.fa-pencil
                    span edit profile
                  //- a
                //- sup
                br
                small Winery &amp; Vineyard
              //- name
            //- photo
          //- col-md-3
        //- row
        .row
          .col-sm-9.col-md-9.col-sm-offset-3.col-md-offset-3
            .userprofilemenu
              nav.menu
                .btn-add-friend
                  | &nbsp;
                  a.btn.btn-success.btn-sm(href="#")
                    | Follow
                  //- a
                //- btn-add-friend
                ul
                  li
                    a.active(href="shop.html") Shop
                  //- li
                  //- li
                  //-   a(href='#modal_coming_soon', data-toggle='modal') Shipping
                  //- //- li
                  //- li
                  //-   a(href='#modal_coming_soon', data-toggle='modal') Return Policy
                  //- //- li
                  //- li
                  //-   a(href='#modal_coming_soon', data-toggle='modal') Circlebuys
                  //- //- li
                  //- li
                  //-   a(href='#modal_coming_soon', data-toggle='modal') Contact Us
                  //- //- li
                  //- li
                  //-   a(href='#modal_coming_soon', data-toggle='modal') About Us
                  //- //- li
                  //- li
                  //-   a(href="seller.html") News Feed
                  //- //- li
                //- ul
              //- nav
            //- userprofilemenu
          //- col-md-6
        //- row
      //- container
    //- info
  //- banner-home


  section.userprofile.drinks.results
    .container
      .row
        .col-md-3
          br
          .search.form-icon
            a.icon(href='#', target='_blank')
              i.fa.fa-search
            //- a
            input.form-control(type='text', placeholder='search brokenwood...')
          //- search
          .seller-categories
            h3 Wines
            h4
              a(href='#modal_coming_soon', data-toggle='modal') Cricket Pitch
            //- h4
            h4
              a(href='#modal_coming_soon', data-toggle='modal') Varietal
            //- h4
            h4
              a(href='#modal_coming_soon', data-toggle='modal') Single Vineyard
            //- h4
            h4
              a(href='#modal_coming_soon', data-toggle='modal') Icon
            //- h4
            h4
              a(href='#modal_coming_soon', data-toggle='modal') Dessert
            //- h4
            h4
              a(href='#modal_coming_soon', data-toggle='modal') Packs &amp; Specials
            //- h4
          //- card
        //- col-md-3
        .col-md-9
          br
          form.form-inline
            .form-group
              label(for='exampleInputName2') Sort by
              select.form-control
                //- option Highest rated
                //- option Most reviews
                option(ng-click=" sortType='name' ; sortReverse=false ") A to Z
                option(ng-click=" sortType='name' ; sortReverse=true ") Z to A
              //- select
            //- form-group
            //- .form-group
            //-   label(for='exampleInputEmail2') Show
            //-   select.form-control
            //-     option 15
            //-     option 50
            //-     option 100
            //-   //- select
            //- //- form-group
          //- form
          hr
          .product-wrap(id='products', ng-app="myApp" ng-controller="myCtrl" ng-cloak, directive="")

            .row
              // 1 Product
              .col-sm-6.col-md-4(ng-repeat="variant in variants | orderBy:sortType:sortReverse" ng-cloak)
                .product
                  input.product-id(type='hidden', value='{{variant.productVariantId}}')
                  .thumb
                    .ctr
                      .count.product-rating
                      span points
                      //- count
                    a(href='productdetails2.html?product={{variant.productVariantId}}')
                      //img.img-prod(src='//www.brokenwood.com.au/assets/images/products/pictures/CricketPitchRed1.jpg', alt='')
                      img.img-prod(ng-src='{{variant.d_image}}', alt='')
                    //- a
                    // Edit
                    .details
                      p
                      .name
                        a(href='productdetails2.html?product={{variant.productVariantId}}') {{variant.name}}
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price {{displayPrice}}
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View / Buy
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col
            //- row
          //- product-wrap
          hr
          nav.text-center(aria-label='...')
            ul.pagination.pagination-sm
              li
                a(href='#', aria-label='Previous')
                  span(aria-hidden='true') «
              li
                a(href='#modal_coming_soon', data-toggle='modal') 1
              li
                a(href='#modal_coming_soon', data-toggle='modal') 2
              li
                a(href='#modal_coming_soon', data-toggle='modal') 3
              li
                a(href='#modal_coming_soon', data-toggle='modal') 4
              li
                a(href='#modal_coming_soon', data-toggle='modal') 5
              li
                a(href='#', aria-label='Next')
                  span(aria-hidden='true') »
                //- a
              //- li
            //- ul
          //- nav
        //- col-md-9
      //- row
    //- container
  //- section


block scripts
  // External Script goes here...
  script.


   /************************************************************
     *
     *    Angular code.
     */

    var app = angular.module('myApp', ['ngSanitize']);
    teaservice.init({
      host: TEASERVICE_HOST,
      port: TEASERVICE_PORT,
      accessToken: TEASERVICE_ACCESS_TOKEN
    });
    // Add the controller for this page
    app.controller('myCtrl', function($scope, teaService) {


      // This code gets the "product" parameter from the
      // URL so we can use it as productVariantId.
      var supplierId = null;
      console.log('window.location=' + window.location + '.')
      window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str, key, value) {
        //console.log('xx:' + key + ':' + value + ':');
        if (key === 'supplier') {
          supplierId = value;
        }
      });
      console.log('Displaying the page for supplierId=' + supplierId);

      // During development only
      var DEFAULT_CATEGORY_ID = 621;
      if ( !supplierId) {
        supplierId = DEFAULT_CATEGORY_ID;
      }

      // Get the product details from TEA.
      teaService.getProduct({
        supplierId: supplierId,
        needPricing: true,
        needImages: true
      }).then(function(products){
        console.log('BACK NOW', products);

        // Put all the variants in a single list
        var variants = [ ];
        $(products).each(function(index, product) {
          console.log('-> GOT product ' + index, product);
          $(product.variants).each(function(i, variant) {
            console.log('  -> GOT variant ' + index, variant);
            // Decide what image to use
            //variant.d_image = '//www.brokenwood.com.au/assets/images/products/pictures/CricketPitchRed1.jpg';
            if (variant.images && variant.images.length > 0) {
              //console.log('image is:' + variant.images[0].imagePath + ':')
              variant.d_image = variant.images[0].imagePath;
            } else {
              variant.d_image = "NOTFOUND.jpg"; // ZZZZZ
            }

            //computation for display price
            if(variant.pricing.length > 0){
              var componentsQty = variant.componentsQty;
              var pricingQuantity = variant.pricing[0].pricingQuantity;
              var pricingQuantityLowestPrice = pricingQuantity[pricingQuantity.length - 1].price;
              var displayPrice = (Math.ceil((pricingQuantityLowestPrice / componentsQty) * 100) / 100).toFixed(2);
              $scope.displayPrice = accounting.formatMoney(displayPrice);

            }


            variants.push(variant);
          });
        });
        $scope.variants = variants;

      });

      $scope.sortType     = 'name'; // set the default sort type
      $scope.sortReverse  = false;  // set the default sort order

      /*
      // Display the circle buys
      teaService.getSharedOrdersAndSetAngularVariables({
        productVariantId: productVariantId
      }, $scope, teaService);
      */

    });

    app.directive('directive', function($timeout) {
      return {
        link: function(scope, element, attr) {
          $timeout(function() {
            chsearchresultrating.init();
          }, 1000);
        }
      }
    });

    /*
     *  Set up the login part at the top of the page.
     */
    authservice.init({
      host: AUTHSERVICE_HOST,
      port: AUTHSERVICE_PORT,
      tenant: AUTHSERVICE_TENANT,
      pretend: AUTHSERVICE_USE_DUMMY_LOGIN
    });
    console.log('Current user:', authservice.getCurrentUser());




  //- script.
//- block scripts
