extends ./layout/layout_main.pug

block css
  style.
    .logged-in {
      display: block !important;
    }
    .logged-out {
      display: none;
    }
  //- style


block content

  .banner.userprofile.seller.ar
    .gradient
    .info
      .container
        .row
          .col-sm-3.col-md-3
            .photo
              .img.square
                a(href='#modal_coming_soon', data-toggle='modal')
                  i.fa.fa-camera
                //- a
                img(src="assets/images/producers/ar/logo.jpg", alt="")
              //- img
              .name
                span Archie Rose&nbsp;
                sup
                  a(href='#modal_coming_soon', data-toggle='modal')
                    i.fa.fa-pencil
                    span edit profile
                  //- a
                //- sup
                br
                small Organic Wines
              //- name
            //- photo
          //- col-md-3
        //- row
        .row
          .col-sm-9.col-md-9.col-sm-offset-3.col-md-offset-3
            .userprofilemenu
              nav.menu
                .btn-add-friend
                  | &nbsp;
                  a.btn.btn-success.btn-sm(href="#")
                    | Follow
                  //- a
                //- btn-add-friend
                ul
                  li
                    a.active(href="shop-ar.html") Shop
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Shipping
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Return Policy
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Circlebuys
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Contact Us
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') About Us
                  //- li
                  li
                    a(href="seller-ar.html") News Feed
                  //- li
                //- ul
              //- nav
            //- userprofilemenu
          //- col-md-6
        //- row
      //- container
    //- info
  //- banner-home



  section.userprofile.drinks.results
    .container
      .row
        .col-md-3
          br
          .search.form-icon
            a.icon(href='#', target='_blank')
              i.fa.fa-search
            //- a
            input.form-control(type='text', placeholder='search archie rose...')
          //- search
          .seller-categories
            h3 Organic Wines
            h4
              a(href='#modal_coming_soon', data-toggle='modal') Signature Dry Gin
            //- h4
            h4
              a(href='#modal_coming_soon', data-toggle='modal') Original Vodka
            //- h4
            h4
              a(href='#modal_coming_soon', data-toggle='modal') White Rye
            //- h4
            h4
              a(href='#modal_coming_soon', data-toggle='modal') Tailored Vodka
            //- h4
            h4
              a(href='#modal_coming_soon', data-toggle='modal') Tailored Gin
            //- h4
            h4
              a(href='#modal_coming_soon', data-toggle='modal') Tailored Whisky
            //- h4
            h4
              a(href='#modal_coming_soon', data-toggle='modal') Distiller's Streghth Gin
            //- h4
            h4
              a(href='#modal_coming_soon', data-toggle='modal') Virgin Cane Spirit
            //- h4
          //- card
        //- col-md-3
        .col-md-9
          br
          form.form-inline
            .form-group
              label(for='exampleInputName2') Sort by
              select.form-control
                option Most popular
              //- select
            //- form-group
            .form-group
              label(for='exampleInputEmail2') Show
              select.form-control
                option 15
                option 50
                option 100
              //- select
            //- form-group
          //- form
          hr
          .product-wrap
            .row
              // 1 Product
              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 93
                        span points
                      //- count
                    img.img-prod.card(src='assets/images/producers/ar/prod1.png', alt='')
                    // Edit
                    .details
                      p
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Signature Dry Gin
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $74.00
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View / Buy
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col
              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 91
                        span points
                      //- count
                    //- ctr
                    a(href='#modal_coming_soon', data-toggle='modal')
                      img.img-prod.card(src='assets/images/producers/ar/prod2.png', alt='')
                    //- a
                    .details
                      p
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Original Vodka
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $69.00
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View / Buy
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col
              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 91
                        span points
                      //- count
                    //- ctr
                    a(href='#modal_coming_soon', data-toggle='modal')
                      img.img-prod.card(src='assets/images/producers/ar/prod3.png', alt='')
                    //- a
                    .details
                      p
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') White Rye
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $89.00
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View / Buy
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col
              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 93
                        span points
                      //- count
                    img.img-prod.card(src='assets/images/producers/ar/prod4.png', alt='')
                    // Edit
                    .details
                      p
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Tailored Vodka
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $94.00
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View / Buy
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col
              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 91
                        span points
                      //- count
                    //- ctr
                    a(href='#modal_coming_soon', data-toggle='modal')
                      img.img-prod.card(src='assets/images/producers/ar/prod5.png', alt='')
                    //- a
                    .details
                      p
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Tailored Gin
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $99.00
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View / Buy
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col
              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 91
                        span points
                      //- count
                    //- ctr
                    a(href='#modal_coming_soon', data-toggle='modal')
                      img.img-prod.card(src='assets/images/producers/ar/prod6.png', alt='')
                    //- a
                    .details
                      p
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Tailored Whisky
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $4000.00 +
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View / Buy
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col
              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 92
                        span points
                      //- count
                    //- ctr
                    a(href='#modal_coming_soon', data-toggle='modal')
                      img.img-prod.card(src='assets/images/producers/ar/prod7.png', alt='')
                    //- a
                    .details
                      p
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Distiller's Strength Gin
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $99.00
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View / Buy
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col
              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 92
                        span points
                      //- count
                    //- ctr
                    a(href='#modal_coming_soon', data-toggle='modal')
                      img.img-prod.card(src='assets/images/producers/ar/prod8.png', alt='')
                    //- a
                    .details
                      p
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Virgin Cane Spirit
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $99.00
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View / Buy
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col
            //- row
          //- product-wrap
          hr
          nav.text-center(aria-label='...')
            ul.pagination.pagination-sm
              li
                a(href='#', aria-label='Previous')
                  span(aria-hidden='true') «
              li
                a(href='#modal_coming_soon', data-toggle='modal') 1
              li
                a(href='#modal_coming_soon', data-toggle='modal') 2
              li
                a(href='#modal_coming_soon', data-toggle='modal') 3
              li
                a(href='#modal_coming_soon', data-toggle='modal') 4
              li
                a(href='#modal_coming_soon', data-toggle='modal') 5
              li
                a(href='#', aria-label='Next')
                  span(aria-hidden='true') »
                //- a
              //- li
            //- ul
          //- nav
        //- col-md-9
      //- row
    //- container
  //- section


block scripts
  // External Script goes here...
  script.
    $(function () {
      $('.popover_price[data-toggle="popover"]').popover({
        html: true,
        content : function() {
          return '<ul class="cost">' + $(this).parent().find("ul").html() + '</ul>';
        },
        title: function(){
          return jQuery(this).data('title') + '<span class="close">&times;</span>';
        }
      }).on('shown.bs.popover', function(e) {
        var popover = jQuery(this);
        $(this).parent().find('.popover span.close').on('click', function(e) {
          popover.popover('hide');
        });
      }).click(function(e) {
        e.preventDefault();
      });
    });
  //- script.
