$source   : 'ttstatic'; // change value to 'ttstatic' for local testing

// Banners(main.scss)
$banner-home        : '';
$banner-advisor     : '';
$banner-direct      : '';
$banner-circle      : '';
// Other Background Images
// From(main.scss)
$bg-userprofile     : '';
$bg-seller          : '';
$bg-ctr-gold        : '';
$bg-ctr-silver      : '';
$bg-ctr-bronze      : '';
// From(_cardgroups.scss)
$bg-thumb-ring      : '';
// From(_components.scss)
$bg-avatar-ring     : '';
$bg-avatar-ring-70p : '';
$bg-avatar-ring-50p : '';
$bg-avatar-ring-40p : '';
// From(_adrian.scss)
$bg-title-ctr       : '';

@if ($source == 'ttstatic') {
  // Banners(main.scss)
  $banner-home        : '../../assets/images/banner/banner_3.jpg';
  $banner-advisor     : '../../assets/images/banner/banner_8.jpg';
  $banner-direct      : '../../assets/images/banner/banner_4.jpg';
  $banner-circle      : '../../assets/images/banner/banner_1.jpg';
  // Other Background Images
  // From(main.scss)
  $bg-userprofile     : '../../assets/images/cover/cover_1.jpg';
  $bg-seller          : '../../assets/images/producers/brokenwood/cover.png';
  $bg-ctr-gold        : '../../assets/images/ring_gold.png';
  $bg-ctr-silver      : '../../assets/images/ring_silver.png';
  $bg-ctr-bronze      : '../../assets/images/ring_bronze.png';
  // From(_cardgroups.scss)
  $bg-thumb-ring      : '../../assets/images/ring.png';
  // From(_components.scss)
  $bg-avatar-ring     : '../../assets/images/ring.png';
  $bg-avatar-ring-70p : '../../assets/images/ring_70p_solid.png';
  $bg-avatar-ring-50p : '../../assets/images/ring_50p_solid.png';
  $bg-avatar-ring-40p : '../../assets/images/ring_40p_solid.png';
  // From(_adrian.scss)
  $bg-title-ctr       : '../assets/images/ring.png';
} @else {
  // Banners(main.scss)
  $banner-home        : '/ttsvr/cropImage/drinkcircle.images.i_banner_home.jpg';
  $banner-advisor     : '/ttsvr/cropImage/drinkcircle.images.i_banner_advisor.jpg';
  $banner-direct      : '/ttsvr/cropImage/drinkcircle.images.i_banner_direct.jpg';
  $banner-circle      : '/ttsvr/cropImage/drinkcircle.images.i_banner_circles.jpg';
  // Other Background Images
  // From(main.scss)
  $bg-userprofile     : '/ttsvr/cropImage/drinkcircle.images.i_tmp_cover_1.jpg';
  $bg-seller          : '/ttsvr/cropImage/drinkcircle.images.i_tmp_cover_2.png';
  $bg-ctr-gold        : '/ttsvr/cropImage/drinkcircle.images.i_ring_gold.png';
  $bg-ctr-silver      : '/ttsvr/cropImage/drinkcircle.images.i_ring_silver.png';
  $bg-ctr-bronze      : '/ttsvr/cropImage/drinkcircle.images.i_ring_bronze.png';
  // From(_cardgroups.scss)
  $bg-thumb-ring      : '/ttsvr/cropImage/drinkcircle.images.i_ring.png';
  // From(_components.scss)
  $bg-avatar-ring     : '/ttsvr/cropImage/drinkcircle.images.i_ring.png';
  $bg-avatar-ring-70p : '/ttsvr/cropImage/drinkcircle.images.i_tmp_ring_70p.png';
  $bg-avatar-ring-50p : '/ttsvr/cropImage/drinkcircle.images.i_tmp_ring_50p.png';
  $bg-avatar-ring-40p : '/ttsvr/cropImage/drinkcircle.images.i_tmp_ring_40p.png';
  // From(_adrian.scss)
  $bg-title-ctr       : '/ttsvr/cropImage/drinkcircle.images.i_ring.png';
}
