footer
  .container
    small
      a(href='../about.html', data-toggle='modal') about
      | &nbsp;&middot;&nbsp;
      a(href='../privacy-policy.html', data-toggle='modal') privacy policy
      | &nbsp;&middot;&nbsp;
      a(href='../terms-of-use.html', data-toggle='modal') terms of use
      | &nbsp;&middot;&nbsp;
      a(href='mailto:contact@drinkcircle.com', data-toggle='modal') contact
      p
        img(src="assets/images/logo_green.png", alt="")
    //- small
  //- container
//- footer
