footer
  .container
    small
      a(href='#modal_coming_soon', data-toggle='modal') about
      | &nbsp;&middot;&nbsp;
      a(href='#modal_coming_soon', data-toggle='modal') privacy policy
      | &nbsp;&middot;&nbsp;
      a(href='#modal_coming_soon', data-toggle='modal') terms of use
      | &nbsp;&middot;&nbsp;
      a(href='#modal_coming_soon', data-toggle='modal') contact
      | &nbsp;&middot;&nbsp;
      a(href='#modal_coming_soon', data-toggle='modal') blog
      p
        img(src="assets/images/logo_green.png", alt="")
    //- small
  //- container
//- footer
