footer
  .container
    small
      a(href="#") about
      | &nbsp;&middot;&nbsp;
      a(href="#") privacy policy
      | &nbsp;&middot;&nbsp;
      a(href="#") terms of use
      | &nbsp;&middot;&nbsp;
      a(href="#") contact
      | &nbsp;&middot;&nbsp;
      a(href="#") blog
      p
        img(src="assets/images/logo_black.png", alt="")
    //- small
  //- container
//- footer
