header
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        //a.navbar-brand(href='#') Drink Circle
        a.navbar-brand(href='index.html')
          img(src="assets/images/logo_black.png", alt="")
        //- a
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-left
          li
            .form-group.all-search
              i.fa.fa-search
              input.form-control(type='text', placeholder='Search drinks, drinkmakers, ratings, circlebuys, people and more...')
              a.save-search.color.inherit(href='')
                i.fa.fa-star-o
                span.hidden-xs save search
            //- form-group
          //- li
        //- ul
        ul.nav.navbar-nav.navbar-right.logged-in
          li.dropdown
            a.dropdown-toggle.info(href='profile.html', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              img(src="assets/images/img_advisor_1.jpg", alt="")
              | &nbsp;Hi Andrew!
            ul.dropdown-menu
              li
                a(href='index.html') Home
              //- li
              li
                a(href='myprofile.html') Profile
              //- li
              li
                a(href='#') Multibuy
              //- li
              li
                a(href='#') Circles
              //- li
              li
                a(href='#') My Orders
              //- li
              li.divider(role='separator')
              li
                a(href='#') Sign out
              //- li
            //- ul
          //- li
          li.text-center
            a.notification(href='#')
              i.fa.fa-bell
              .counter 2
            //- a
          //- li
          li
            a.cart-icon(href='')
              i.fa.fa-shopping-cart
            //- a
          //- li
        //- ul
        ul.nav.navbar-nav.navbar-right.logged-out
          //- li
          //-   a(href='#')
          //-     | 1
          //-     i.fa.fa-shopping-cart
          //- li
          //-   a(href='#') join
          //- li.hidden-xs
          //-   p.navbar-text |
          li.nav-with-icon
            a(href='profile.html')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-user.fa-stack-1x.fa-inverse
              //- span
              | sign in
            //- a
          //- li
          li
            a(href='')
              i.fa.fa-shopping-cart
            //- a
          //- li
        //- ul
        //- .clearfix
        //- .div
        ul.nav.navbar-nav.navbar-left.nav-category
          li
            a(href='drinks.html') Drinks
            //- ul
            //-   li
            //-     a(href='') Sub Menu
            //-   //- li
            //- //- ul
          //- li
          li
            a(href='drinkmakers.html') Drinkmakers
            //- ul
            //-   li
            //-     a(href='') Sub Menu
            //-   //- li
            //- //- ul
          //- li
          li
            a(href='drinks-red.html') Red
            //- ul
            //-   li
            //-     a(href='') Sub Menu
            //-   //- li
            //- //- ul
          //- li
          li
            a(href='drinks-white.html') White
            //- ul
            //-   li
            //-     a(href='') Sub Menu
            //-   //- li
            //- //- ul
          //- li
          li
            a(href='drinks-beer.html') Beer
            //- ul
            //-   li
            //-     a(href='') Sub Menu
            //-   //- li
            //- //- ul
          //- li
          li
            a(href='drinks-spirits.html') Spirits
            //- ul
            //-   li
            //-     a(href='') Sub Menu
            //-   //- li
            //- //- ul
          //- li
          li
            a(href='drinks-bubbles.html') Bubbles
            //- ul
            //-   li
            //-     a(href='') Sub Menu
            //-   //- li
            //- //- ul
          //- li
          li
            a(href='drinks-cider.html') Cider
            //- ul
            //-   li
            //-     a(href='') Sub Menu
            //-   //- li
            //- //- ul
          //- li
          li
            a(href='circlebuying.html') Circlebuys
          //- li
          li
            a(href='#interests', data-toggle='modal') Interests
          //- li
          li
            a(href='ratings.html') Ratings
          //- li
          li
            a(href='compare.html') Compare
          //- li
          li
            a(href='profile.html') Post
            //- ul
            //-   li
            //-     a(href='') Sub Menu
            //-   //- li
            //- //- ul
          //- li
          li
            a(href='profile.html') Profile
          //- li
        //- ul
      //- #navbar
    //- container
  //- nav
//- header
